@charset "UTF-8";
@import './fonts.css';
@import './header.css';
@import './footer.css';
@import './nav.css';

:root
{
  	--ed-dark: #2D3142;
    --ed-semidark: #4F5D75;
    --ed-semidark-hover: #384152;
    --ed-accent-silver: #bfc0c0;
    --ed-accent-mandarin: #EF8354;
    --ed-white: #FFFFFF;
    --ed-black: #000000;
}
/* main layout style */
.exec-demo-layout
{
/*  border: solid 12px red;*/
  display:flex;
  flex-direction:column;
  flex: 0 0 100%;
  min-height:100vh;
  width:100%;
  height:100%;
  font-family: 'Josefina';
}
/* main nav & content layout */
.exec-demo-main
{
  display: flex;
  flex: 1 1 auto;
  flex-direction:row;
}
/* main content layout */
.exec-demo-content
{
  display:flex;
  flex: 1 1 100%;
  flex-direction:column;
  width:100%;
  min-height:100%;
  max-height: calc(100vh - 96px);
  overflow: auto;
  padding:10px;
  padding-left:14px;
}

/* page level styles */
.ed-header
{
  border-bottom: solid 1px var(--black-02);
  font-size: 32px;
  padding-bottom:10px;
}

.ed-cta
{
  padding:10px;
  border:0;
  border-radius:6px;
  background-color: var(--ed-semidark);
  color: var(--ed-white);
  transition: all 200ms ease-in-out;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
}
.ed-cta:hover, .ed-cta:focus
{
  background-color: var(--ed-dark);
  box-shadow: 0px 0px 10px 0px var(--ed-dark);
}