.exec-footer
{
  height:32px;
  border-top: unset;
  flex: 0 0 auto;
  background-color: var( --ed-semidark);
  color: var(--white);
  font-weight:100;
  font-size: 12px;
  padding:10px;
  margin-top: unset;
  text-align:right;
}