.ehp
{
	background-color: var(--ed-dark);
	color: var(--ed-white);
	display:flex;
	flex: 0 1 auto;
	flex-direction:row;
	padding: 10px;
}

.ehp-area
{
/*	border: solid 1px white;*/
	display: flex;
	flex: 1 1 auto;
	font-size: 18px;
}

.ehp-brand
{
	flex: 0 0 190px;
	max-height:64px;
	padding:0px;
	justify-content:center;
}

.ehp-brand > a > svg
{
	height: 100%;
	width:100%;
}


.ehp-search
{
	flex: 1 1 auto;
}
.ehp-tools
{
	flex : 0 1 auto;
}
.ehp-account
{
	flex : 0 0 150px;
}

/* testing */
.ehp-test
{ 
/*		border: solid 1px red;*/
		width:400px;
}
.ehp-test > a > svg
{
	background-color:red;
	border: solid 1px black;
	height: 100%;
	width:100%;
}