.exec-nav
{
	background-color: var(--ed-semidark);
	color: white;
	display:flex;
	flex: 0 0 200px;
	flex-direction:column;
	font-size: 18px;
  min-height:100%;
	padding:10px;
	padding-bottom:0px;
}

.exec-nav-top
{
	display:flex;
	flex: 1 1 100%;
	flex-direction:column;
}

.ed-nav-item
{
	padding:6px;
	color:var(--white);
	margin-bottom:10px;
	text-align:left;
	text-decoration:none;
}
.ed-nav-item:hover, .ed-nav-item:focus
{
	background-color: var(--ed-accent-mandarin);
	box-shadow: 0px 0px 10px 0px var(--black);
	color: black;
}