.exec-nav
{
	background-color: var(--ed-semidark);
	color: white;
	display:flex;
	flex: 0 0 200px;
	flex-direction:column;
	font-size: 18px;
  min-height:100%;
	padding:10px;
}

.ed-nav-item
{
	border: solid 1px var(--white-08);
	padding:5px;
	color:var(--white);
}