/* layout */
.esp
{
  border: solid 0px var(--white-04);
  flex: 1 1 auto;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

/* controls */
.esp-input-panel
{
  border: solid 0px red;
  flex: 1 1 100%;
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
  width:100%;
  min-width:320px;
  padding-left: 10px;
  padding-right: 10px;
}

.esp-input-field
{
  border: solid 1px transparent;
  border-radius: 3px;
  box-shadow: 0px 0px 0px 0px transparent;
  min-width:320px;
  max-width:100%;
  width:100%;
  height:32px;
  margin-right: 6px;
  padding:10px;
  padding-top:6px;
  padding-bottom:6px;
  color:black;
  font-size:large;
  background-color: rgba(242,242,242,1);
  transition: all 200ms ease-in-out;
}
.esp-input-field::placeholder
{
    font-size:large;
    color:black;
}
.esp-input-field:focus
{
  border: solid 1px var(--black);
  box-shadow: 0px 0px 10px 0px var(--black-04);
}


.esp-input-btn
{
  border: solid 1px transparent;
  border-radius:4px;
  box-shadow: 0px 0px 0px 0px var(--debug);
  background-color: var(--white-08);
  width:32px;
  height:32px;
  text-align:center;
  font-weight:100;
  margin-right: 6px;
  padding:5px;
  transition: all 200ms ease-in-out;
}
.esp-input-btn:last-child
{
  margin-right: 0px;
}

.esp-input-btn:hover,
.esp-input-btn:focus
{
  border: solid 1px white;
  font-weight:900;
  box-shadow: 0px 0px 10px 0px var(--black-06);
  background-color: var(--white);
}

.esp-input-btn > svg
{
  fill: var(--black-04);
  height:100%;
  width:100%;
}
.esp-input-btn:hover > svg,
.esp-input-btn:focus > svg
{
  fill: rgba(0,0,128,1);
}


.esp-results-panel
{
  display:none;
  position:absolute;
  top: 60px;
  border: solid 1px var(--black-06);
  border-radius:4px;
  background-color: rgba(255,255,255,1);
  box-shadow: 0px 10px 30px 0px var(--black-06);
  width:auto;
  min-width: 320px;
  max-width: 1024px;
  min-height:48px;
  color:black;
  padding:12px;
}