.app-loader-panel
{
	border: solid 0px red;
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	background-color: rgba(255, 255, 255, 1);
	z-index:10;
	display:inline-flex;
	flex-direction:column;
	justify-content:center;
	align-content:center;
	align-items:center;
	text-align:center;
	vertical-align:top;
}
.fabric-spinner-azure-logo
{
	border: solid 0px red;
	text-align:center;
	width:150px;
	height:auto;
	opacity:1;
	z-index:6;
	/*transition: all ease-in-out 500ms;
	animation-delay:0ms;
	animation-direction:normal;
	animation-duration:1000ms;
	animation-fill-mode:forwards;
	animation-iteration-count:1;
	animation-name:azureLogoOpacity;
	animation-play-state:running;
	animation-timing-function:ease-in-out;*/
}
.fabric-spinner-azure-logo > svg
{
	shape-rendering:optimizeQuality;
	border: solid 0px red;
	height:100%;
	width:100%;
}
@keyframes azureLogoOpacity
{
	0% {opacity:0;}
	100% {opacity:1;}
}

.fabric-spinner-msft-logo
{
	border: solid 0px red;
	width:150px;
	height:auto;
	opacity:0;
	transition: all ease-in-out 500ms;
	animation-delay:1000ms;
	animation-direction:normal;
	animation-duration:500ms;
	animation-fill-mode:forwards;
	animation-iteration-count:1;
	animation-name:msftLogoOpacity;
	animation-play-state:running;
	animation-timing-function:ease-in-out;
}
.fabric-spinner-msft-logo > svg
{
	shape-rendering:optimizeQuality;
	height:100%;
	width:100%;
}
@keyframes msftLogoOpacity
{
	0% {opacity:0;}
	100% {opacity:1;}
}

.fabric-spinner-prog-line
{
	border: solid 0px red;
	text-align:center;
	width:150px;
	opacity:0;
	transition: all ease-in-out 500ms;
	animation-delay:500ms;
	animation-direction:normal;
	animation-duration:500ms;
	animation-fill-mode:forwards;
	animation-iteration-count:1;
	animation-name:progLineOpacity;
	animation-play-state:running;
	animation-timing-function:ease-in-out;
}
@keyframes progLineOpacity
{
	0% {opacity:1;}
	100% {opacity:1;}
}

.fabric-spinner-prog-circle
{
	border: solid 0px red;
	text-align:center;
	width:auto;
	margin-top:30px;
	opacity:0;
	transform:scale(1.5,1.5);
	transition: all ease-in-out 250ms;
	animation-delay:1500ms;
	animation-direction:normal;
	animation-duration:500ms;
	animation-fill-mode:forwards;
	animation-iteration-count:1;
	animation-name:progSpinnerOpacity;
	animation-play-state:running;
	animation-timing-function:ease-in-out;
}
@keyframes progSpinnerOpacity
{
	0% {opacity:0;}
	100% {opacity:1;}
}