svg.bg-svg-container
{
	border: solid 1px var(--black-01);
	cursor:grab;
	margin-bottom:20px;
}
svg.bg-svg-container-grabbing
{
	border: solid 1px var(--black-07);
	cursor:grabbing;
}
rect#debugRect
{
	fill:var(--black-01);
	z-index:0;
}
svg.bg-svg-container > g#SvgChildDraggable1
{
	z-index:1;
	transition:all 100ms ease-in-out;
}
svg.bg-svg-container-grabbing > g#SvgChildDraggable1
{
	z-index:1;
	transition:none;
}