.debug-svg-red
{
  fill: rgba(128,0,0,1);
}
.debug-svg-blue
{
  fill: rgba(0,0,192,1);
}

.stroke-box
{
  stroke:rgba(255,0,0,1);
  stroke-width:10px;
  transform-box: fill-box;
  transform-origin: center;
  animation-direction:normal;
  animation-iteration-count:infinite;
  animation-name: GradBoxRotate;
  animation-play-state:running;
  animation-timing-function:linear;
  animation-duration:2000ms;
  animation-fill-mode:both;
}
.sb-ani-center
{
  animation-delay:300ms;
}
.sb-ani-top-left
{
  animation-delay:500ms;
}
.sb-ani-top-right
{
  animation-delay:900ms;
}
.sb-ani-bottom-left
{
  animation-delay:1200ms;
}
.sb-ani-bottom-right
{
  animation-delay:1500ms;
}

@keyframes GradBoxRotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.stroke-circle
{
  stroke:none;
  stroke-width:0px;
  transform-box: fill-box;
  transform-origin: center;
  animation-delay:0ms;
  animation-direction:normal;
  animation-iteration-count:infinite;
  animation-name: GradBoxRotate;
  animation-play-state:running;
  animation-timing-function:linear;
  animation-duration:2000ms;
  animation-fill-mode:both;
}

/*
<animate attributeName="cx" dur="1000ms" values="35%;55%;35%" repeatCount="indefinite" />
*/