
/* card */
.asset-type-card
{
	background: #FFFFFF;
	border: solid 1px rgba(128,128,128,0.3);
	border-radius: 3px;
	box-shadow: 0 25.6px 57.6px 0 rgba(0, 0, 0, 0.22), 0 4.8px 14.4px 0 rgba(0, 0, 0, 0.18);
	height:auto;
	width:320px;
	padding:0px;
	z-index:11;
	position:absolute;
	margin-top:28px;
	text-align:left;
	overflow:hidden;

	/* animation properties */
	max-height:152px;
	opacity:0;
	transform: scale(0.8,0.8) translate(0,-10px);
	animation-delay: 700ms, 1500ms;
	animation-direction:normal, normal;
	animation-duration: 100ms, 500ms;
	animation-fill-mode:forwards, forwards;
	animation-iteration-count:1,1;
	animation-name: PopupCardDisplay, DelayedLoader;
	animation-play-state:running, running;
	animation-timing-function:linear, ease;
}
@keyframes PopupCardDisplay
{
	0% {	
		transform: scale(0.8,0.8) translate(0,-10px);
		opacity:0;
	}
	100% { 
		transform: scale(1,1) translate(0,0);
		opacity:1;
	}
}
@keyframes DelayedLoader
{
	0% {
	max-height:152px;
	}
	100% {
	max-height:540px;
	}
}


/* testing this out */

.card-header-panel
{
	/*border: solid 1px red;*/
	padding:15px;
	padding-left:20px;
	padding-right:20px;
	padding-bottom:0px;
	display:flex;
	flex-direction:column;
	height:152px;
}
.card-delayed-panel
{
	/*border: solid 1px red;*/
	border-top:solid 1px #EDEBE9;
	overflow:auto;
	height:388px;
	padding:0px;
	padding-bottom:20px;
	margin:0px;
}

.card-row-generic
{
	/*background-color: rgba(255,0,0,0.2);*/
	/*border: solid 1px red;*/
	border-bottom:solid 1px #EDEBE9;
	display:flex;
	flex-direction:column;
	padding:0px;
	vertical-align:top;
	margin:0px;
	margin-top:15px;
	margin-bottom:5px;
}


.card-row-one
{
	/*border: solid 1px red;*/
	display:inline-flex;
	flex-direction:row;
	margin-bottom:5px;
	padding-top:5px;
	padding-bottom:5px;
}
.card-row-one-icon
{
	/*border: solid 1px red;*/
	flex: 0 0 64px;
	height:64px;
	width:64px;
}
.card-row-one-icon > svg
{
	height:100%;
	width:100%;
}
.card-row-one-text
{
	/*border: solid 1px red;*/
	flex: 0 1 auto;
	width:250px;
	padding-left:10px;
	font-size:16px;
	font-family: az_SemiBold;
	/*text-overflow:ellipsis;
	white-space: wrap;*/ 
	overflow:hidden;
}
.card-row-one-fave
{
	/*border: solid 1px red;*/
	flex: 0 0 24px;
	width:24px;
	text-align:center;
	cursor:pointer;
}

.card-row-two
{
	/*border: solid 1px red;*/
	display:flex;
	flex-direction:row;
	padding-top:5px;
	padding-bottom:5px;
	vertical-align:top;
}
.card-row-two-button
{
	/*border: solid 1px rgba(255,0,0,0.4);*/
	flex: 0 0 auto;
	vertical-align:top;
	display:flex;
	flex-direction:row;
	cursor:pointer;
	padding:10px;
	padding-left:0px;
}
.card-row-two-button:hover
{
	background-color: rgba(243, 242, 241, 1);
}
.card-row-two-button-icon
{
	flex: 0 0 32px;
	width:32px;
}
.card-row-two-button-icon > svg
{
	vertical-align:middle;
	margin-left:8px;
	height:14px;
	width:14px;
}
.card-row-two-button-text
{
	flex: 1 1 auto;
	vertical-align:middle;
	margin-top:1px;
	font-size:13px;
	padding-right:6px;
}



.boldedHeader
{
	font-family:az_SemiBold;
	font-size:14px;
	margin-bottom:5px;
	margin-left:20px;
}

.genericLink
{
	font-size:13px;
	padding:5px;
	padding-left:20px;
	padding-bottom:5px;
}
.genericLink:hover
{
	background-color: #f3f2f1;
}
.genericDesc
{
	font-size:10px;
	color: rgba(128,128,128,1);
	margin-left:10px;
	margin-top:3px;
	display:inline-block;
}

.genericLink2
{
	font-size:13px;
	padding:5px;
	padding-left:20px;
	padding-bottom:5px;
}
.genericDesc2
{
	font-size:10px;
	color: rgba(128,128,128,1);
	margin-bottom:5px;
}

.gen-training-panel
{
	/*border: solid 1px red;*/
	display:flex;
	flex-direction:row;
	padding:10px;
	padding-left:20px;
	padding-bottom:0px;
}
.gen-training-panel:hover
{
	background-color: #f3f2f1;
}
.gen-training-icon
{
	margin-right:6px;
}

.external-link-svg
{
	/*border: solid 1px red;*/
	display:inline-block;
	margin-left:5px;
	margin-top:3px;
	height:10px;
}