.svg-ddd-root {
  border: solid 1px red;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.svg-ddd-svg-root {
  border: solid 1px rgba(255, 0, 0, 1);
  background-color: rgba(0, 0, 0, 0);
}

#debug-group > line {
  stroke: rgba(0, 0, 0, 0.2);
  stroke-width: 0.2vmin;
}
#debug-group > circle {
  fill: rgba(0, 0, 0, 0.2);
  stroke: rgba(0, 0, 0, 0);
  stroke-width: 0;
}
