.progress-extra-large
{
	height:128px;
	width:128px;
}
.progress-large
{
	height:64px;
	width:64px;
}
.progress-medium
{
	height:32px;
	width:32px;
}
.progress-small
{
	height:24px;
	width:24px;
}

.spin
{
/*	BORDER RADIUS TO AVOID LOOKING LIKE DIV BLOCKS */
/*	border: solid 1px red;
*/	border-radius:50%;

	opacity:0;
	display:inline-flex;
	flex: 1 1 auto;
	
	transform: rotate(0);
	animation-delay: 0ms, 2000ms;
	animation-direction:normal, normal;
	animation-duration:1000ms, 300ms;
	animation-fill-mode:both, forwards;
	animation-iteration-count: infinite, 1;
	animation-name:RotateProgressCircle, FadeInProgressCircle;
	animation-play-state:running, running;
	animation-timing-function:ease-in-out, linear;	
}
.spin > svg
{
	border-radius:50%;
	height:100%;
	width:100%;
}

/* in order */
@keyframes RotateProgressCircle {
/*    0% {
		transform: rotate(0deg);
    }
    100% {
		transform: rotate(360deg);
    }*/
}
@keyframes FadeInProgressCircle
{
	0%
	{
		opacity: 0;
	}
	100%
	{
		opacity: 1;
	}
}