:root
{
	--dark-black: #191923;
	--off-white: rgba(252,252,252,1);
	--off-white-05: rgba(252,252,252,0.6);
	--royal-blue: #0e79b2ff;
	--pink-red: #bf1363;
	--burnt-orange: #f39237;
}

.home-svg-root
{
	border: solid 1px rgba(255,0,0,0);
}

.home-text-UX,
.home-text-DESIGN,
.home-text-PROTOTYPING
{
	font-family: 'Josefina', 'Segoe UI', sans-serif, -system-ui;
	stroke: var(--black);
	stroke-width: 0.5px;
	text-shadow: 0px 0px 50px rgba(0,0,0,0.6);
	transform-origin: 50% 50%;

/*	animation-direction: normal;
	animation-fill-mode: both;
	animation-play-state: running;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-delay: 250ms;
	animation-duration: 3000ms*/
}
.home-text-UX
{
	animation-name: AniSvgBlueColorUX;
}
.home-text-DESIGN
{
	animation-name: AniSvgBlueColorDesign;
}
.home-text-PROTOTYPING
{
	animation-name: AniSvgBlueColorPrototyping;
}
@keyframes AniSvgBlueColorUX
{
	0%
	{
		fill: rgba(39, 93, 173, 1);
	}
	58%
	{
		fill: rgba(39, 93, 173, 1);
	}
	60%
	{
		fill: rgba(222,222,222,1);
	}
	65%
	{
		fill: rgba(64, 128, 192, 1)
	}
	67%
	{
		fill: rgba(39, 93, 173, 1);
	}
	100%
	{
		fill: rgba(39, 93, 173, 1);
	}
}
@keyframes AniSvgBlueColorDesign
{
	0%
	{
		fill: rgba(39, 93, 173, 1);
	}
	62%
	{
		fill: rgba(39, 93, 173, 1);
	}
	64%
	{
		fill: rgba(222,222,222,1);
	}
	70%
	{
		fill: rgba(64, 128, 192, 1)
	}
	72%
	{
		fill: rgba(39, 93, 173, 1);
	}
	100%
	{
		fill: rgba(39, 93, 173, 1);
	}
}
@keyframes AniSvgBlueColorPrototyping
{
	0%
	{
		fill: rgba(39, 93, 173, 1);
	}
	66%
	{
		fill: rgba(39, 93, 173, 1);
	}
	68%
	{
		fill: rgba(222,222,222,1);
	}
	74%
	{
		fill: rgba(64, 128, 192, 1)
	}
	76%
	{
		fill: rgba(39, 93, 173, 1);
	}
	100%
	{
		fill: rgba(39, 93, 173, 1);
	}
}

/* debug */
g.home-svg-debug {}
g.home-svg-debug > rect:nth-child(1)
{
	fill: rgba(255,0,0,0);
}
g.home-svg-debug > line
{
	stroke: rgba(0,0,0,1);
	stroke-width: 0.5px;
}
g.home-svg-debug > circle
{
	stroke: rgba(255,0,0,1);
	stroke-width: 1px;
	fill: rgba(255,0,0,0.1);
}
rect[class*='palette-rect']
{
	stroke-width: 0.1px;
	stroke: black;
	width: 100px;
	height: 100px;
	y: 960px;
}
rect[class*='palette-rect'].pr-db
{
	fill: var(--dark-black);
}
rect[class*='palette-rect'].pr-rb
{
	fill: var(--royal-blue);
}
rect[class*='palette-rect'].pr-ow
{
	fill: var(--off-white-05);
}
rect[class*='palette-rect'].pr-pr
{
	fill: var(--pink-red);
}
rect[class*='palette-rect'].pr-bo
{
	fill: var(--burnt-orange);
}