:root
{
	--dark-black: #191923;
	--off-white: #FEFDFC;
	--royal-blue: #0e79b2;
	--pink-red: #bf1363;
	--burnt-orange: #f39237;
}

/*svg {}
*/
.home-svg-root
{
	border: solid 1px rgba(0,0,0,1);
/*	background-image: radial-gradient(circle, rgba(0, 0, 255, 0.2) 0, transparent 50%);*/
	height: calc(100%);
	width: calc(100%);
	cursor: pointer;
}


/* main */
g.home-svg-main {}

.home-text-UX, .home-text-DESIGN, .home-text-PROTOTPYING
{
	font-family: 'Josefina', 'Segoe UI', sans-serif, -system-ui;
	stroke: white;
	stroke-width: 1px;
	text-shadow: 0px 0px 60px rgba(0,0,0,0);
	transform-origin: 50% 50%;
	animation-direction: normal;
	animation-fill-mode: forwards;
	animation-iteration-count: 1;
	animation-play-state: running;
	animation-timing-function: linear;
	animation-delay: 0ms, 0ms, 1500ms, 3000ms;
	animation-duration: 500ms, 750ms, 500ms, 500ms;
}

.home-text-UX
{
	transform: translate(0,-660px);
	animation-name: AniUxTextStart, AniTextColor, AniTextFadeOut,AniTextDelayedFadeBack;
}
@keyframes AniUxTextStart
{
	0%
	{
		transform: translate(0,-660px);
	}

	100%
	{
		transform: translate(0,0px);
	}
}

.home-text-DESIGN
{
	transform: translateX(-1280px);
	animation-name: AniDesignTextStart, AniTextColor, AniTextFadeOut,AniTextDelayedFadeBack;
}
@keyframes AniDesignTextStart
{
	0%
	{
		transform: translateX(-1280px);
	}

	100%
	{
		transform: translateX(0px);
	}
}

.home-text-PROTOTPYING
{
	transform: translateX(1280px);
	animation-name: AniProtoTextStart, AniTextColor, AniTextFadeOut,AniTextDelayedFadeBack;
}
@keyframes AniProtoTextStart
{
	0%
	{
		transform: translateX(1280px);
	}

	100%
	{
		transform: translateX(0px);
	}
}

@keyframes AniTextColor
{
	0%
	{
		text-shadow: 0px 0px 60px rgba(0,0,0,0);
	}
	100%
	{
		fill: var(--nav-color-4);
		text-shadow: 0px 0px 60px rgba(0,0,0,0.6);
	}
}
@keyframes AniTextFadeOut
{
	0%
	{
		opacity: 1;
		transform:scale(1,1);
	}
	100%
	{
		opacity: 0;
		transform: scale(5,5);
	}
}
@keyframes AniTextDelayedFadeBack
{
	0%
	{
		opacity: 0;
		transform: scale(5,5);
	}

	100%
	{
		opacity: 1;
		transform: scale(1,1);
	}
}




/* svg assets & animations */
.design-asset-text
{
	fill: var(--nav-color-4);
	stroke: white;
	stroke-width: 1px;
	text-shadow: 0px 0px 10px rgba(0,0,0,0.4);
	opacity: 0;
	transform: translate(0,0);
	animation-direction: normal, normal;
	animation-timing-function: linear, linear;
	animation-fill-mode: forwards, forwards;
	animation-play-state: running, running;
	animation-iteration-count: 1,1;
	animation-delay: 1500ms, 2000ms, 5000ms;
	animation-duration: 500ms, 500ms, 500ms;
	animation-name: AniDesignTextStepOne, AniDesignTextStepTwo, AniDesignTextStepThree;
}
@keyframes AniDesignTextStepOne
{
	0%
	{
		opacity: 0;
	}
	100%
	{
		opacity: 1;
	}
}
@keyframes AniDesignTextStepTwo
{
	0%
	{
		transform:translate(0,0) scale(1,1);
	}
	100%
	{
		transform: translate(-150px,-150px) scale(0.5,0.5);
	}
}
@keyframes AniDesignTextStepThree
{
	0%
	{
		opacity: 1;
	}
	100%
	{
		opacity: 0;
	}
}

.design-rect
{
	fill: rgba(252,252,252,1);
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
}
.dr-layout
{
	transform: translate(0,800px);
	animation-direction: normal;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
	animation-play-state: running;
	animation-iteration-count: 1;
	animation-delay: 2000ms;
	animation-duration: 1000ms;
	animation-name: AniDesignLayoutMove;
}
@keyframes AniDesignLayoutMove
{
	0%
	{
		transform: translate(0,800px);
	}
	80%
	{
		transform: translate(0px,-50px);
	}
	90%
	{
		width: 500px;
		height: 200px;
	}	
	100%
	{
		width: 1520px;
		height: 800px;
		transform: translate(0px,-50px);
	}
}

.dr-toolbar
{
	fill: var(--nav-color-4);
	stroke: rgba(0,0,0,1);
	stroke-width: 1px;
	transform: translate(-1740px,0px);
	animation-direction: normal;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
	animation-play-state: running;
	animation-iteration-count: 1;
	animation-delay: 3200ms;
	animation-duration: 300ms;
	animation-name: AniDesignToolbarMove;
}
@keyframes AniDesignToolbarMove
{
	0%
	{
		transform: translate(-1740px,0px);
	}
	100%
	{
		transform: translate(0px,0px);
	}
}


.g-dr-menu
{
	transform-origin: 50% 50%;
	transform: translate(0px,1080px);
	animation-direction: normal;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
	animation-play-state: running;
	animation-iteration-count: 1;
	animation-delay: 3200ms;
	animation-duration: 300ms;
	animation-name: AniDesignMenuMove;
}
@keyframes AniDesignMenuMove
{
	0%
	{
		transform: translate(0px,1080px);
	}

	100%
	{
		transform: translate(0px,0px);
	}
}
.dr-menu
{
	fill: rgba(240,240,240,1);
	stroke: rgba(0,0,0,1);
	stroke-width: 0px;
}
.dr-menu-icon
{
	fill: var(--nav-color-4);
	stroke: rgba(255,255,255,1);
	stroke-width: 2px;
}
.dr-menu-icon-text
{
	font-size:28px;
	fill:rgba(0,0,0,1);
	font-weight:700;
	text-anchor:start;
}

.design-text
{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	text-anchor: start;
}
.dr-brand
{
	opacity: 0;
	font-size: 32px;
	fill: white;
	stroke: none;
	font-weight: 700;
	animation-direction: normal;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
	animation-play-state: running;
	animation-iteration-count: 1;
	animation-delay: 3500ms;
	animation-duration: 300ms;
	animation-name: AniDesignCoBrandFade;
}
.dr-login
{
	opacity: 0;
	font-size: 32px;
	fill: white;
	stroke: none;
	font-weight: 100;
	animation-direction: normal;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
	animation-play-state: running;
	animation-iteration-count: 1;
	animation-delay: 3800ms;
	animation-duration: 300ms;
	animation-name: AniDesignCoBrandFade;
}
.dr-content-text
{
	opacity: 0;
	font-size: 32px;
	fill: black;
	stroke: none;
	font-weight: 700;
	text-anchor: start;
	animation-direction: normal;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
	animation-play-state: running;
	animation-iteration-count: 1;
	animation-delay: 3800ms;
	animation-duration: 300ms;
	animation-name: AniDesignCoBrandFade;
}
.dr-content-text-2
{
	opacity: 0;
	font-size: 24px;
	fill: black;
	stroke: none;
	font-weight: 100;
	text-anchor: start;
	animation-direction: normal;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
	animation-play-state: running;
	animation-iteration-count: 1;
	animation-delay: 3800ms;
	animation-duration: 300ms;
	animation-name: AniDesignCoBrandFade;
}
@keyframes AniDesignCoBrandFade
{
	0%
	{
		opacity:0;
	}
	100%
	{
		opacity: 1;
	}
}

.g-design-flow
{
	animation-direction: normal;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
	animation-play-state: running;
	animation-iteration-count: 1;
	animation-delay: 5000ms;
	animation-duration: 500ms;
	animation-name: AniDesignScaleSmall;
}
@keyframes AniDesignScaleSmall
{
	0%
	{
		transform: scale(1,1) translate(0px,0px);
	}

	100%
	{
		opacity:0.5;
		transform: translate(-1920px,0px);
	}
}









/* debug */
g.home-svg-debug
{
	/*	display:none;*/
}

g.home-svg-debug > rect:nth-child(1)
{
	fill: rgba(255,0,0,0);
}

rect[class*='palette-rect']
{
	stroke-width: 0.1px;
	stroke: black;
	width: 100px;
	height: 100px;
	y: 960px;
}

.palette-rect-1
{
	fill: var(--dark-black);
}

.palette-rect-2
{
	fill: var(--off-white);
}

.palette-rect-3
{
	fill: var(--royal-blue);
}

.palette-rect-4
{
	fill: var(--pink-red);
}

.palette-rect-5
{
	fill: var(--burnt-orange);
}

g.debug-rotate-ani
{
	transform-origin: 50% 50%;
	transform: rotate(0deg);
	/*	animation-delay: 0ms;
	animation-direction: normal;
	animation-duration: 5000ms;
	animation-fill-mode: both;
	animation-iteration-count: infinite;
	animation-name: AniGDebugCrosshairs;
	animation-play-state: running;
	animation-timing-function: linear;*/
}

g.debug-rotate-ani > line
{
	stroke: rgba(255,0,0,1);
	stroke-width: 1px;
}

g.debug-rotate-ani > circle
{
	stroke: rgba(255,0,0,0.5);
	stroke-width: 1px;
	fill: rgba(255,255,255,1);
}

@keyframes AniGDebugCrosshairs
{
	0%
	{
		transform: rotate(0deg);
	}

	100%
	{
		transform: rotate(180deg);
	}
}