:root
{
	--dark-black: #191923;
	--off-white: #FEFDFC;
	--royal-blue: #0e79b2;
	--pink-red: #bf1363;
	--burnt-orange: #f39237;
}

/* svg {} */

.home-svg-root
{
	border: solid 0.1px rgba(0,0,0,0.1);
/*	fill:black;
	stroke:red;
	stroke-width:5px;*/
/*	background-image: radial-gradient(circle, rgba(128, 0, 0, 1) 0, transparent 100%);*/
	height: 100%;
	width: 100%;
	cursor:pointer;
}

/* debug */
g.home-svg-debug
{
	/*	display:none;*/
}
g.home-svg-debug > rect:nth-child(1)
{
	fill:rgba(255,0,0,0);
}
rect[class*='palette-rect']
{
	stroke-width: 0.1px;
	stroke: black;
	width: 100px;
	height: 100px;
	y: 960px;
}

.palette-rect-1
{
	fill: var(--dark-black);
}
.palette-rect-2
{
	fill: var(--off-white);
}
.palette-rect-3
{
	fill: var(--royal-blue);
}
.palette-rect-4
{
	fill: var(--pink-red);
}
.palette-rect-5
{
	fill: var(--burnt-orange);
}


g.debug-rotate-ani
{
	transform-origin: 50% 50%;
	transform: rotate(0deg);
/*	animation-delay: 0ms;
	animation-direction: normal;
	animation-duration: 5000ms;
	animation-fill-mode: both;
	animation-iteration-count: infinite;
	animation-name: AniGDebugCrosshairs;
	animation-play-state: running;
	animation-timing-function: linear;*/
}
g.debug-rotate-ani > line
{
	stroke: rgba(255,0,0,1);
	stroke-width: 1px;
}
g.debug-rotate-ani > circle
{
	stroke: rgba(255,0,0,0.5);
	stroke-width: 1px;
	fill: rgba(255,255,255,1);
}
@keyframes AniGDebugCrosshairs
{
	0%
	{
		transform: rotate(0deg);
	}
	100%
	{
		transform: rotate(180deg);
	}
}


/* main */
g.home-svg-main {}

.home-text-UX, .home-text-DESIGN, .home-text-PROTOTPYING
{
	stroke: white;
	stroke-width: 1px;
	text-shadow: 0px 0px 60px rgba(0,0,0,0);
	transform-origin: 50% 50%;
	animation-delay: 0ms, 0ms, 1500ms;
	animation-direction: normal;
	animation-duration: 500ms, 750ms, 500ms;
	animation-fill-mode: forwards;
	animation-iteration-count: 1;
	animation-play-state: running;
	animation-timing-function: linear;
}

.home-text-UX
{
	transform: translate(0,-660px);
	animation-name: AniUxTextStart, AniTextColor, AniTextFadeOut;
}
@keyframes AniUxTextStart
{
	0%
	{
		transform: translate(0,-660px);
	}

	100%
	{
		transform: translate(0,0px);
	}
}

.home-text-DESIGN
{
	transform: translateX(-1280px);
	animation-name: AniDesignTextStart, AniTextColor, AniTextFadeOut;
}
@keyframes AniDesignTextStart
{
	0%
	{
		transform: translateX(-1280px);
	}

	100%
	{
		transform: translateX(0px);
	}
}

.home-text-PROTOTPYING
{
	transform: translateX(1280px);
	animation-name: AniProtoTextStart, AniTextColor, AniTextFadeOut;
}
@keyframes AniProtoTextStart
{
	0%
	{
		transform: translateX(1280px);
	}

	100%
	{
		transform: translateX(0px);
	}
}

@keyframes AniTextColor
{
	0%
	{
		text-shadow: 0px 0px 60px rgba(0,0,0,0);
	}
	100%
	{
		fill: var(--nav-color-4);
		text-shadow: 0px 0px 60px rgba(0,0,0,0.6);
	}
}
@keyframes AniTextFadeOut
{
	0%
	{
		opacity: 1;
	}
	100%
	{
		opacity: 0;
	}
}

/* svg assets & animations */
.home-svg-assets
{}