.exec-root
{
  border: solid 0px black;
  padding:30px;
  display:flex;
  flex-direction:column;
  flex-wrap:nowrap;
  justify-content:center;
  justify-items:flex-start;
  justify-self:center;
  align-content:flex-start;
  align-items:flex-start;
  vertical-align:top;
}