.progress-extra-large
{
	/*border: solid 1px red;*/
	height:128px;
	width:128px;
}
.progress-large
{
	/*border: solid 1px red;*/
	height:64px;
	width:64px;

}
.progress-medium
{
	/*border: solid 1px red;*/
	height:32px;
	width:32px;
}
.progress-small
{
	/*border: solid 1px red;*/
	height:16px;
	width:16px;
}

.spin
{
	padding:8px;
	opacity:0;
	transform: rotate(0);
	animation-delay: 0ms, 1000ms;
	animation-direction:normal, normal;
	animation-duration:1000ms, 1000ms;
	animation-fill-mode:both, forwards;
	animation-iteration-count: infinite, 1;
	animation-name:RotateProgressCircle, FadeInProgressCircle;
	animation-play-state:running, running;
	animation-timing-function:ease-in-out, linear;
}


@keyframes FadeInProgressCircle {
    0% {
		opacity:0;
    }
    100% {
		opacity:1;
    }
}

@keyframes RotateProgressCircle {
    0% {
		transform: rotate(0deg);
    }
    100% {
		transform: rotate(360deg);
    }
}