.anim-demo-layout
{
/*	border: solid 1px var(--black-02);*/
	max-width:1024px;
	overflow:auto;
	display:flex;
	flex: 1 1 auto;
	flex-direction:column;
	margin:24px;
	opacity:0;

	animation-name: AniPageFadeIn1;
	animation-delay: 300ms;
	animation-direction: normal;
	animation-duration: 300ms;
	animation-fill-mode: forwards;
	animation-iteration-count: 1;
	animation-play-state: running;
	animation-timing-function: ease-in-out;
	transition: all 500ms ease-in-out;
}
.anim-demo-header
{
	color: var(--black-08);
	font-size: 30px;
	margin-bottom:10px;
	font-weight:500;
}
.anim-demo-sub-header
{
	color: var(--black-08);
	font-size: 18px;
	padding-bottom:10px;
	font-weight:500;
}
.anim-demo-desc
{
	font-size: 16px;
	margin-bottom:10px;
}

.anim-demo-block-panel
{
/*	border: solid 1px var(--debug);*/
	display:flex;
	flex: 1 1 auto;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:space-evenly;
	justify-items:center;
	align-items:flex-start;
	min-width:280px;
	margin-bottom:20px;
	/*	padding-top:20px;*/
}

.ani-demo-card-1
{
/*	border: solid 1px var(--black);*/
	box-shadow: 0px 0px 20px 0px var(--black-01);
	display:flex;
	flex: 0 0 250px;
	flex-direction:column;
	flex-wrap:nowrap;
	align-content: stretch; 
	width:250px;
	height:auto;
	margin:20px;
}
.ani-demo-card-2
{
/*	border: solid 1px var(--black);*/
	box-shadow: 0px 0px 20px 0px var(--black-01);
	display:flex;
	flex: 0 0 auto;
	flex-direction:column;
	flex-wrap:nowrap;
	align-content: stretch; 

	width:auto;
	height:auto;
	margin:20px;
}

.ani-card-ctrl-block
{
/*	border: solid 1px red;*/
	flex: 1 1 auto;
	padding:10px;
	text-align:center;
	vertical-align:bottom;
}
.ani-card-text-block
{
/*	border: solid 1px red;*/
	border-top: solid 1px var(--black-01);
	flex: 1 1 auto;
	font-size:16px;
	padding:10px;
}

/* config element styles */
.prog-bar-controls-2
{
	vertical-align:top;
	display:flex;
	flex-direction:column;
	align-items:flex-start;
}
.prog-bar-btn
{
	padding:6px;
	width:100px;
	vertical-align:top;
}
.prog-bar-value
{
	padding:6px;
	flex: 1 0 50%;
	text-align:center;
	vertical-align:middle;
}
.input-range-demo
{
	width:100%;
	padding-top:10px;
	padding-bottom:10px;
}
select.prog-infinites
{
	width: 100%;
	z-index:0;
	padding:6px;
}


.hc-test-button
{
	border: solid 1px var(--black-02);
	border-radius: 4px;
	background-color:transparent;
	padding:10px;
	cursor:pointer;
	transition: all 250ms ease-in-out;
}
.hc-test-button:hover
{
	background-color:rgba(248, 216, 0,1);
	color:var(--black);
}

.hover-card-controls
{
	border: solid 2px var(--debug);
	width:100%;
	display:flex;
	justify-items:flex-start;
/*	justify-content:space-evenly;*/
	font-size:16px;
}
label.hover-card-selection
{
/*	border: solid 1px var(--blue);*/
	flex: 1 1 auto;
	padding-top:5px;
	padding-bottom:5px;
	vertical-align:top;
	cursor:pointer;
}
label.hover-card-selection > input[type=radio]
{
	height:20px;
	margin-right:2px;
}
label.hover-card-selection > span
{
	display:inline-block;
}

/* extras */
.margin-bottom-25
{
	margin-top:25%;
}
.margin-bottom-10
{
	margin-top:10%;
}
.margin-bottom-5
{
	margin-top:5%;
}

.test-content-panel
{
/*	border: solid 1px var(--black-02);*/
}
.test-content-panel > ul, .test-content-panel > ol
{
	margin-left:20px;
}
