.sgcom-page-layout
{
	border: solid 1px var(--black-02);
	max-width:1024px;
	overflow:auto;
	display:flex;
	flex: 1 1 auto;
	flex-direction:column;
	margin:24px;
	opacity:0;

	animation-name: AniPageFadeIn1;
	animation-delay: 300ms;
	animation-direction: normal;
	animation-duration: 300ms;
	animation-fill-mode: forwards;
	animation-iteration-count: 1;
	animation-play-state: running;
	animation-timing-function: ease-in-out;
	transition: all 500ms ease-in-out;
}