
.anim-demo-header
{
	color: var(--black-08);
	font-size: 30px;
	margin-bottom:10px;
	font-weight:500;
}
.anim-demo-sub-header
{
	color: var(--black-08);
	font-size: 20px;
	padding-bottom:10px;
	font-weight:500;
	text-align:center;
}
.anim-demo-desc
{
	font-size: 14px;
	margin-bottom:20px;
}


.anim-demo-block-panel
{
/*	border: solid 1px var(--debug);*/
	display:flex;
	flex: 1 1 auto;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:space-evenly;
	justify-items:center;
	align-items:flex-start;
	min-width:280px;
	margin-bottom:20px;
	/*	padding-top:20px;*/
}

.ani-demo-card-1
{
/*	border: solid 1px var(--black);*/
	box-shadow: 0px 0px 20px 0px var(--black-01);
	display:flex;
	flex: 0 0 250px;
	flex-direction:column;
	flex-wrap:nowrap;
	align-content: stretch; 
	width:250px;
	height:auto;
	margin:20px;
}
.ani-demo-card-2
{
/*	border: solid 1px var(--black);*/
	box-shadow: 0px 0px 20px 0px var(--black-01);
	display:flex;
	flex: 0 0 auto;
	flex-direction:column;
	flex-wrap:nowrap;
	align-content: stretch; 

	width:auto;
	height:auto;
	margin:20px;
}

.ani-card-ctrl-block
{
/*	border: solid 1px red;*/
	flex: 1 1 auto;
	padding:10px;
	text-align:center;
	vertical-align:bottom;
}
.ani-card-text-block
{
/*	border: solid 1px red;*/
	border-top: solid 1px var(--black-01);
	flex: 1 1 auto;
	font-size:14px;
	padding:10px;
}

/* config element styles */
.prog-bar-controls-2
{
	vertical-align:top;
	display:flex;
	flex-direction:column;
	align-items:flex-start;
}
.prog-bar-btn
{
	padding:6px;
	width:100px;
	vertical-align:top;
}
.prog-bar-value
{
	padding:6px;
	flex: 1 0 50%;
	text-align:center;
	vertical-align:middle;
}
.input-range-demo
{
	width:100%;
	padding-top:10px;
	padding-bottom:10px;
}
select.prog-infinites
{
	width: 100%;
	z-index:0;
	padding:4px;
}


.hover-card-controls
{
	border: solid 2px var(--debug);
	width:100%;
	display:flex;
	justify-items:flex-start;
/*	justify-content:space-evenly;*/
	font-size:16px;
}
label.hover-card-selection
{
/*	border: solid 1px var(--blue);*/
	flex: 1 1 auto;
	padding-top:5px;
	padding-bottom:5px;
	vertical-align:top;
	cursor:pointer;
}
label.hover-card-selection > input[type=radio]
{
	height:20px;
	margin-right:2px;
}
label.hover-card-selection > span
{
	display:inline-block;
}

.test-content-panel
{
/*	border: solid 1px var(--black-02);*/
}
.test-content-panel > ul, .test-content-panel > ol
{
	margin-left:20px;
}

/* scoped demo buttons */
.input-nav
{
/*	border: solid 1px red;*/
	flex: 1 1 auto;
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	margin-bottom: 10px;
}

.demo-nav-item
{
	border: solid 1px transparent;
	box-shadow:0px 0px 2px 0px var(--black-04);
	background-color: var(--demo-nav-color-hover);
	padding:10px;
	cursor:pointer;
	transition: all 200ms ease-in-out;
}
.demo-nav-item:hover
{
	border: solid 1px var(--black-04);
	box-shadow:0px 0px 10px 0px var(--black-04);
	background-color: var(--demo-nav-color);
}