*
{
    box-sizing: border-box;
}
body
{
	background-color: rgba(255,255,255,1);
	color:rgba(0,0,0,1);
	font-family:'Segoe UI','Arial','Tahoma';
	font-size:medium;
    margin: 0 auto;
    padding:0;
}
a
{
	color:rgba(192,192,192,1);
	text-decoration:none;
}
a:hover
{
	color:rgba(255,255,255,1);
	text-decoration:none;
}
a:visited
{
	color:rgba(160,160,160,1);
	text-decoration:none;
}

.MainContainer
{
    position:absolute;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    min-width:calc(800px);
    border: solid 0px rgba(255,0,0,1);
    padding:0px;
    overflow:hidden;
}

.AppHeader
{
    position:absolute;
    top:0px;
    left:0px;
    right:0px;
    height:50px;
    /*bottom:0px;*/
    border-bottom: solid 1px rgba(0,0,0,1);
    padding:10px;
    vertical-align:middle;
}
.AppName
{
    display:inline-block;
    margin-right:40px;
    font-size:24px;
    vertical-align:middle;
}
.AppBtn
{
    vertical-align:middle;
    cursor:pointer;
}

.AppContainer
{
    position:absolute;
    top:50px;
    left:0px;
    right:0px;
    bottom:0px;
    border: solid 0px rgba(255,0,0,1);
    padding:0px;
    overflow:auto;
}
.AppColumn
{
    position:absolute;
    top:0px;
    bottom:0px;
    display:inline-block;
    overflow:auto;
}
.LeftCol
{
    left:0px;
    right: calc(100% - 250px);
    width:calc(250px);
}
.CenterCol
{
    left:calc(250px);
    right:calc(100% - 500px);
    width:calc(100% - 500px);
    border-left: solid 1px rgba(128,128,128,1);
    border-right: solid 1px rgba(128,128,128,1);
}
.RightCol
{
    left: calc(100% - 250px);
    right:0px;
    width:calc(250px);
}

/* Main data view model styles */
.MainData_Panel
{
    /*border: solid 1px rgba(0,0,0,1);*/
    background-color:rgba(222,222,222,1);
    padding:0px;
    font-size:12px;
    margin-bottom:10px;
}


/* Widget Styles */
.Panel
{
    /*border: solid 1px rgba(0,0,0,1);*/
    background-color:rgba(222,222,222,1);
    padding:0px;
    font-size:12px;
    margin-top:10px;
    margin-left:10px;
    margin-right:10px;
    margin-bottom:10px;

}
.Panel_Error
{
    background-color:rgba(255, 0, 0, 1);
    color:rgba(0,0,0,1);
    padding:4px;
    margin:2px;
}
.Panel_Header
{
    padding:0px;
    vertical-align:top;
}
.Panel_Header_Status
{
    background-color:rgba(128,0,0,1);
    height:5px;
}
.Panel_Header_Block
{
    padding:6px;
    vertical-align:top;
}
.Panel_Header_Icon
{
    height:32px;
    width:32px;
    display:inline-block;
    vertical-align:top;
}
.Panel_Header_Title
{
    display:inline-block;
    /*border: solid 1px red;*/
    vertical-align:top;
    width:166px;
    word-wrap: break-word;
	word-break: break-word;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: normal;
}
.Panel_Header_Chevron
{
    display:inline-block;
    /*border: solid 1px red;*/
    vertical-align:top;
    float:right;
    cursor:pointer;
}
.Panel_Header_Status_Icons
{
    vertical-align:top;
    display:block;
    /*border: solid 1px red;*/
    text-align:right;
    margin-top:10px;
}
.Panel_Header_Status_Icons > img
{
    height:24px;
    width:24px;
}
.Panel_Header_Notification_Icons
{
    vertical-align:top;
    display:block;
    /*border: solid 1px red;*/
    text-align:left;
    margin-top:10px;
}
.Panel_Header_Notification_Icons > img
{
    height:16px;
    width:px;
}


/* Widget List Area Panel Styles */
.Panel_ListArea
{
    border: solid 1px rgba(0,0,0,1);
    background-color:rgba(220,220,220,1);
}