.resume-row
{
/*  border: solid 1px black;*/
  padding: 30px;
  display:flex;
  flex: 1 1 auto;
  flex-direction: row;
}
.resume-left
{
/*  border: solid 4px red;*/
  order: 0;
  flex: 1 1 auto;
  padding-right: 30px;
}

.resume-right
{
/*  border: solid 2px blue;*/
  order: 1;
  flex: 1 1 auto;
  min-width: 250px;
}

/* left column */
.cv-section
{
  margin-bottom: 20px;
}

.cv-header
{
  font-size: 26px;
  font-weight: 500;
  /*	color: var(--res-skills-header);
*/ color: var(--nav-color-4);
}

.cv-sub-header
{
  font-size: 100%;
  font-weight: 500;
  color: var(--nav-color-4);
}

.cv-section > ul
{
  margin-top: 10px;
  margin-left: 20px;
}

.cv-section > ul li::before
{
  content: "\2022";
  color: var(--nav-color-4);
  font-weight: bold;
  display: inline-block;
  width: 20px;
  margin-left: -20px;
}

.cv-section > ul > li
{
  list-style-type: none;
  margin-bottom: 6px;
}


/* right column */
.skills-section
{
  /*	border: solid 1px var(--black-02);*/
  margin-bottom: 20px;
}

.skills-header
{
  /*	border: solid 1px red;*/
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
  color: var(--nav-color-4);
}

.skills-related-links
{
  /*	border: solid 2px green;*/
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

a.skills-related-link
{
  /*	border: solid 1px red;*/
  flex: 0 0 auto;
  display: flex;
  cursor: pointer;
  text-decoration: none;
  padding: 2px;
  padding-left: 0px;
  color: var(--nav-color-4);
}

a.skills-related-link:first-child
{
  margin-bottom: 8px;
}

a.skills-related-link:hover
{
  text-decoration: underline;
}

a.skills-related-link > span
{
  flex: 1 1 auto;
  padding-top: 4px;
}

a.skills-related-link > svg, a.skills-related-link > img
{
  opacity: 0.4;
  height: 24px;
  width: 24px;
  margin-right: 8px;
}

a.skills-related-link:hover > svg, a.skills-related-link:hover > img
{
  opacity: 1;
}


ul.skills-list > li
{
  font-size: 12px;
  margin-left: 14px;
  margin-bottom: 5px;
  list-style-type: square;
  color: var(--black-08);
}
