.resume-left
{
/*	border: solid 1px red;*/
	order:0;
	flex: 1 1 70%;
	padding-right:20px;
}
.resume-right
{
/*	border: solid 1px red;*/
	order:1;
	flex: 1 1 30%;
	min-width:250px;
}

/* left column */
.cv-section
{
	margin-bottom:20px;
}
.cv-header
{
	font-size: 26px;
	font-weight:500;
	color: var(--res-skills-header);
}
.cv-sub-header
{
	font-size: 100%;
	font-weight:500;
	color: var(--res-skills-header);
}
.cv-section > ul
{
	margin-top:10px;
	margin-left:20px;
	padding-right:10px;
}
.cv-section > ul > li
{
	font-size:90%;
	list-style-type:square;
}

/* right column */
.skills-section
{
/*	border: solid 1px var(--black-02);*/
	margin-bottom:20px;
}
.skills-header
{
/*	border: solid 1px red;*/
	font-size: 18px;
	font-weight:500;
	margin-bottom:5px;
	color: var(--res-skills-header);
}
.skills-related-links
{
/*	border: solid 2px green;*/
	display:flex;
	flex-direction:column;
	flex-wrap:nowrap;
}

a.skills-related-link
{
/*	border: solid 1px red;*/
	flex: 0 0 auto;
	display:flex;
	cursor:pointer;
	text-decoration:none;
	padding:2px;
	padding-left:0px;

	color: var(--res-skills-header);
}
a.skills-related-link:first-child
{
	 margin-bottom:8px;
}
a.skills-related-link:hover
{
	text-decoration:underline;
}

a.skills-related-link > span
{
	flex: 1 1 auto;
	padding-top:4px;
}
a.skills-related-link > svg, a.skills-related-link > img
{
	opacity:0.4;
	height:24px;
	width:24px;
	margin-right:8px;
}
a.skills-related-link:hover > svg, a.skills-related-link:hover > img
{
	opacity:1;
}


ul.skills-list > li
{
	font-size:12px;
	margin-left:14px;
	margin-bottom:5px;
	list-style-type:square;
	color: var(--black-08);
}