.b6d7c712-6a50-46c2-9543-204dd7dcb33e
{
	fill: #3e2e36;
}

.edc0a480-ff1a-4ee1-ade9-65c2ad65552e
{
	fill: url(#a3355d83-df3f-4146-8622-23e3e66e765c);
}

.baf4743e-5c10-477e-9c88-c6d37dd10980
{
	fill: #ffe3a0;
}

.b8fc111a-5813-480a-acc8-949755d64639
{
	fill: #00a49f;
}

.e72e2158-bcb2-4b4c-8886-69895c91ff7f
{
	fill: url(#a5b66ca4-bf0d-4d27-baf8-1fa5f62a9f78);
}

.adc29afd-fe51-4c40-8ce3-99507c528623
{
	fill: url(#ba0a4854-8217-42cc-b244-c18146f63cb5);
}

.a685121f-9397-4de0-9496-c104cd6b55c2
{
	fill: url(#af4afbba-2a74-417a-b920-974bc5ea3874);
}

.bafec48e-4549-4636-975f-58ee375c87e4
{
	fill: url(#af103dc8-1ec4-42ec-83a2-8ed3167fbec2);
}

.ac6aa565-2976-444b-8d8d-009ec2ff33cd
{
	fill: url(#aaf95c9f-6cc9-41af-9ab1-97b893b86369);
}

.a4b876d8-0d21-4407-bf69-eed6da241a52
{
	fill: url(#bc2c578c-4ba4-4521-9938-778e254e30f3);
}

.abb608e7-be6b-4343-93c1-4d0aa7fdfa08
{
	fill: #f15f45;
}

.b32093c1-d565-4c9f-87c4-9185ee525996
{
	fill: #f68d72;
}

.a97077ea-ed2a-4c37-81c8-931c84bc6c6e
{
	fill: url(#b6aab5f6-7f5b-4e4c-97ab-de5fba73549c);
}

.ae04cf4b-4677-4dd8-8e50-805be6419af8
{
	fill: url(#ebfcb1d3-0597-445b-9ef5-f0208e5e6305);
}

.bc475517-ab06-46a0-a225-7c4bd2f7e057
{
	fill: url(#ede6626e-c132-41f8-b060-8b43795ec0fb);
}

.ecb40264-31b0-4436-aeaf-6ae09908b067
{
	fill: url(#e3924ae7-2fb8-42df-ac3c-62e7c3a9cc15);
}

.f439440f-573c-4f54-82bd-93e126455724
{
	fill: url(#bc5e069a-6315-4948-af67-49822de8f1e9);
}

.a317c7fa-d4a3-4d50-aa55-d8fe12ce3b7b
{
	fill: #ffd046;
}

.e3ae6464-f632-475c-8335-8c4878263fda
{
	fill: url(#b5683563-a778-4d65-9571-251a20fc9486);
}

.bea8f6c3-a78a-4b4e-8989-5800da93710a
{
	fill: url(#ef522522-1c25-48f6-a92b-4f0a026151a3);
}

.ab46c3ca-b937-4ec0-9665-c922dc797462
{
	fill: url(#f964433c-fa50-49bc-aec1-fc5c262f9252);
}

.a6197f7c-e987-4969-9112-ce2eddffdaaa
{
	fill: url(#a011d91e-3e4a-47ab-88c0-197f1d4caf5a);
}

.abf8a23d-e7d3-4e30-93be-2c59c4f41eab
{
	fill: url(#bde7db94-8231-43bb-a73d-9c1517c583aa);
}

.ec5b369b-6356-4f44-813a-b9d270203192
{
	fill: url(#e0e6a4d3-ee1d-4755-b3e4-3c0471bc8368);
}

.b98995af-73ad-4049-9e28-053db518935d
{
	fill: url(#bdfd8ac7-303f-4a76-a193-4eb02da09193);
}

.b0d14860-a562-4fcd-a9d0-ddff2ce5d363
{
	fill: url(#e88163fe-c003-4ed2-afc0-97e6de902464);
}

.a1e77589-ffa8-4a47-a70f-95476edc1692
{
	fill: url(#a5e00b25-cc2c-442a-812f-5e5ef0d68bde);
}

.be5ceb21-d416-49b8-bb4d-6e738c7ab66e
{
	fill: url(#a3529c85-a30a-46be-823c-f7d5210b291f);
}

.a48cde6a-698f-4aea-9310-9cac66d1d195
{
	fill: url(#b4f87515-573a-49cc-84b5-51731be672fe);
}

.f261f20f-d812-4261-b9eb-8a2a5ef796ac
{
	fill: url(#a778218d-4a85-4a4d-9366-77df4324f6ab);
}

.f6de9911-cfdc-4f19-9957-0018ec73e621
{
	fill: url(#fec32e58-7948-449b-8c52-22f5f4513d79);
}

.a4c128de-114d-42a7-8544-c7503b55e21d
{
	fill: url(#a451f437-b114-4411-ae5f-8f2c8d21322a);
}

.f7bf5493-0980-43d5-a952-27a57695db9b
{
	fill: url(#ad725346-db73-43c1-8b4a-c16280cc8b07);
}

.a690af6e-65da-4bef-a638-17551924c3bc
{
	fill: url(#b83ea8f0-e820-4ca5-a4c7-fcc57b165b10);
}

.a3839e58-4105-4a64-acbe-b1de31d771e7
{
	fill: url(#b8423a01-599d-4618-84e9-35fdc8692ab1);
}

.a203ce32-5e7c-4573-b5db-5ad26b5cdd6a
{
	fill: url(#e4ba4ca1-d062-484c-86b3-3eb828488166);
}

.b7de7497-ab64-4950-8842-d8d7befd2858
{
	fill: url(#b08e2133-3405-4d65-9483-e62f4763f43b);
}

.ed0094be-218b-483f-8c57-55d6558209dc
{
	fill: url(#bb53e286-9f12-4222-9822-3da91176214d);
}

.ed567a7a-987b-4e2b-b9b6-a87b3798f1f9
{
	fill: url(#af49621f-2c32-4a77-96e1-266cfb82ba38);
}

.aac83084-a60c-40fb-9d91-4c4de65ba76c
{
	fill: url(#e8cbba0a-dd28-4f9c-8179-57f3581e1bca);
}

.badb5916-7739-438f-a0ee-4b2530534dc9
{
	fill: url(#bdf5902e-738d-42f9-b4c0-d5a62f38657d);
}

.af1fc32a-ca15-4757-a889-daed44668e11
{
	fill: url(#bb9e628f-a4e5-4368-a2d6-726c59ef596f);
}

.bca1a890-061a-4946-9afc-bdfc96d076e6
{
	fill: url(#ad0f85d9-1ea4-4db0-89ad-d26dc299a875);
}

.bc0402a9-f39c-4bdf-abd3-a9989e9e4c23
{
	fill: url(#b5c19af3-83bd-4668-ad07-fc860cc00016);
}

.b294ab00-657d-4685-be58-3b7067a909b3
{
	fill: url(#b2713847-f553-4e5b-be89-fbb481a079b1);
}

.baeed5c0-d734-4766-b90d-cc837570f597
{
	fill: url(#a85cb85c-0f8d-41a9-accf-640e92aff52c);
}

.e96763fc-18c0-427f-84f2-e955077574bd
{
	fill: url(#a665f903-8a43-43e4-be43-356254e8eb4e);
}

.b12b148d-7c15-437d-9bb0-182743e55cd7
{
	fill: url(#be88f9b0-700c-4d54-9b7b-af5e71e55213);
}

.a5811c22-210f-4fef-abd5-409f6c5631ed
{
	fill: url(#fac01772-af11-43a1-88e9-f03840a9f85c);
}

.a9e07f3c-ed5f-493a-a1c2-5643ecd674fb
{
	fill: url(#f7d91166-4af3-4053-9f32-8cebc9af5ba0);
}

.adf18d46-bb0c-41a5-b090-bfea116ec2f1
{
	fill: url(#b43321cb-9c6c-40bd-9a86-8f66b0a229b3);
}

.b77d1212-c465-41a0-a259-b92cb3a81cc3
{
	fill: url(#b9f6138b-a647-4011-833a-67918f74b638);
}

.f7b66b71-8693-439a-98f8-526dcb6b6825
{
	fill: url(#fd6a97ed-905b-4bdf-be7c-e2a7d2c55d23);
}

.a76a6d73-11b6-4c66-8ef1-ce940d5511a6
{
	fill: url(#b75d5f7e-4590-4379-9315-1dcd1d61136b);
}

.ed15696c-4529-491c-aabf-7402b6a21685
{
	fill: url(#e1dbc071-bf5c-4b8b-80f9-d5805bbb279e);
}

.e2fbc378-937e-4961-bc09-2899164e63c5
{
	fill: url(#ab1b5d99-a8f8-4ee2-88c5-a7b9bd487f51);
}
