.home-layout
{
	border: solid 1px var(--debug);
	min-width:320px;
	max-width:1024px;
	overflow:auto;
	display:flex;
	flex: 1 1 auto;
	flex-direction:column;
	margin-top:24px;
}

.design-panel
{
	border: solid 1px var(--debug);
}