/* SVG AREA */
.svg-panel
{
/*	border: solid 1px red;*/
	height: 100%;
	width: 100%;
	margin-bottom:20px;
	background-color:white;
}

.design-svg
{
	background-color:transparent;
	border: solid 0px var(--black-01);
	fill: var(--black);
	font-family: 'Josefina', system-ui;
	height: 100%;
	width: 100%;
}

.home-ani-btn
{
	fill: var(--black-04);
	cursor:pointer;
	transition: all 200ms ease-in-out;
}
.home-ani-btn:nth-child(1)
{
	transform: translate(940px,740px) scale(0.2,0.2);
}
.home-ani-btn:nth-child(2)
{
	transform: translate(936px, 791px) rotate(180deg) scale(0.2,0.2);
}

.home-ani-btn:hover
{
	fill: var(--black-08);
	stroke: var(--white);
	stroke-width:10px;
}


g#home-ani-screen-2
{
	transform: translate(1000px,0);
	animation-name: HomeSvgFromLeft;
	animation-delay: 400ms;
	animation-direction: normal;
	animation-duration: 500ms;
	animation-fill-mode: forwards;
	animation-iteration-count: 1;
	animation-play-state: running;
	animation-timing-function: ease-in-out;
	transition: all 500ms ease-in-out;
}
@keyframes HomeSvgFromLeft
{
	0%
	{
		transform: translate(1000px,0);
	}
	50%
	{
		transform: translate(500px,0);
	}
	100%
	{
		transform: translate(0,0);
	}
}