/* SVG AREA */
.svg-panel
{
/*	border: solid 1px black;*/
	height: 100%;
	width: 100%;
}
.home-content
{
/*	border: solid 1px black;*/
	text-align:left;
	padding:20px;
}

/* SVG SPECIFIC */
.inner-circle
{
	fill:none;
	stroke-width:2;
	stroke-linecap:round;
	stroke-linejoin:round;
	stroke-miterlimit:0;
	animation-direction:normal;
	animation-fill-mode:forwards;
	animation-iteration-count: infinite;
	animation-name:Ani_C11;
	animation-play-state:running;
	animation-timing-function:linear;
	transform-origin: 50% 50%;
}


.ic1
{
	stroke: rgba(0, 0, 255, 1);
	animation-delay:0ms;
	animation-duration:2000ms;
}
.ic2
{
	stroke: rgba(0, 0, 192, 1);
	animation-delay:100ms;
	animation-duration:2100ms;
}
.ic3
{
	stroke: rgba(0, 0, 160, 1);
	animation-delay:200ms;
	animation-duration:2200ms;
}
.ic4
{
	stroke: rgba(0, 0, 128, 1);
	animation-delay:300ms;
	animation-duration:2300ms;
}
.ic5
{
	stroke: rgba(0, 0, 96, 1);
	animation-delay:400ms;
	animation-duration:2400ms;
}
.ic6
{
	stroke: rgba(0, 0, 64, 1);
	animation-delay:500ms;
	animation-duration:2500ms;
}
.ic7
{
	stroke: rgba(0, 0, 32, 1);
	animation-delay:600ms;
	animation-duration:2600ms;
}
.ic8
{
	fill: rgba(0,0,128,1);
	stroke: rgba(0, 0, 255, 1);
	stroke-width:10;
	stroke-linecap:square;
	stroke-linejoin:miter;
	stroke-miterlimit:10;

}

@keyframes Ani_C11
{
	0%, 100%
	{
		transform: rotate(0deg) scale(1,1);
	}
	50%
	{
		transform: rotate(360deg)  scale(0.1,0.1);
	}
}
@keyframes Ani_DebugRect
{
	0%
	{
		transform: translate(250px, 250px) rotate(0deg);
	}
	100%
	{
		transform: translate(250px, 250px) rotate(360deg);
	}
}