
.canvas-panel
{
	border: solid 1px var(--black-01);
	padding: 20px;
	margin-bottom:10px;
	display: flex;
	justify-content: center;
	justify-items: center;
	align-content: center;
	align-items: center;
}

.canvas-panel > button
{
	margin-right:6px;
}
.canvas-panel > button:last-child
{
	margin-right: 0px;
}


.canvas-2d
{
	/*	border: solid 1px var(--black-01);*/
	width: 100%;
	min-width: 256px;
	max-width: 512px;
	object-fit: contain;
	height: auto;
}