.react-root
{
/*	border: solid 1px red;*/
	flex: 1 1 100%;
    display: flex;
    flex-direction: column; 
	flex-wrap:nowrap;
    justify-content: flex-start;
	overflow:auto;
}

main
{
/*	border: solid 1px red;*/
	display: flex;
	flex: 1 1 100%;
	flex-direction: row;
	overflow: auto;
	justify-content: center;
}

/* most pages */
.page-layout
{
	/*	border: solid 1px var(--black);*/
	/*	max-width:1024px;*/
	/*	margin:20px;*/
	min-width: 280px;
	display: flex;
	flex: 1 1 100%;
	flex-direction: column;
	flex-wrap: nowrap;
	overflow: auto;
	opacity: 0;
	animation-name: AniPageFadeIn1;
	animation-delay: 100ms;
	animation-direction: normal;
	animation-duration: 300ms;
	animation-fill-mode: forwards;
	animation-iteration-count: 1;
	animation-play-state: running;
	animation-timing-function: ease-in-out;
}
.column
{
	border: solid 1px purple;
	flex-direction:column;
	flex-wrap:nowrap;
}
.row /*resume page */
{
	flex-direction:row;
	flex-wrap:wrap;
}
footer
{
	flex: 1 1 100%;
	border-top: solid 1px var(--black-01);
	padding:10px;
	text-align:center;
}


/* global multi-use styles - refactored 12/31/2020 */
.header
{
	font-weight:100;
	font-size: 26px;
	margin-bottom:10px;
}
.centered
{
	text-align:center;
}

.padding30
{
	padding:30px;
}
.margin-bottom-25
{
	margin-top: 25%;
}
.margin-bottom-10
{
	margin-top:10%;
}
.margin-bottom-5
{
	margin-top:5%;
}

.bd-page-title
{
	font-size:20px;
	text-align:center;
	padding:10px;
}
.bd-page-description
{
	text-align:center;
	margin-bottom:10px;
}
.bd-page-trademark
{
	font-size:12px;
	text-align:center;
}