/* 
	APPLICATION WIDE CSS PROPERTIES 
	MAINLY USED FOR CONTENT & SPECIFIC SCENARIOS
	MAY HAVE CONFLICTS WITH LAYOUT & THEME CSS FILES
*/
.ra-root
{
/*	border: solid 1px red;*/
	flex: 1 1 100%;
    display: flex;
    flex-direction: column;  
    justify-content: flex-start;
	overflow:auto;
}
main
{
	flex: 2 1 100%;
	overflow:auto;
	display:flex;
	justify-content:center;
}
