:root {
	--black: rgba(0,0,0,1);
	--black-01: rgba(0,0,0,0.1);
	--black-02: rgba(0,0,0,0.2);
	--black-03: rgba(0,0,0,0.3);
	--black-04: rgba(0,0,0,0.4);
	--black-05: rgba(0,0,0,0.5);
	--black-06: rgba(0,0,0,0.6);
	--black-07: rgba(0,0,0,0.7);
	--black-08: rgba(0,0,0,0.8);
	--black-09: rgba(0,0,0,0.9);

	--white: rgba(255,255,255,1);
	--white-01: rgba(255,255,255,0.1);
	--white-02: rgba(255,255,255,0.2);
	--white-03: rgba(255,255,255,0.3);
	--white-04: rgba(255,255,255,0.4);
	--white-05: rgba(255,255,255,0.5);
	--white-06: rgba(255,255,255,0.6);
	--white-07: rgba(255,255,255,0.7);
	--white-08: rgba(255,255,255,0.8);
	--white-09: rgba(255,255,255,0.9);

	--debug: rgba(255,0,0,1);

	--lapis: rgba(39, 93, 173, 1);
	--focus-lapis: rgba(30, 84, 164, 1);
	--hover-lapis: rgba(61, 125, 205, 1);
	--visited-lapis: rgba(15, 69, 149, 1);
	--fave-hover-lapis: rgba(77, 141, 221, 1);

	--indi-default: rgba(75, 78, 109, 1);
	--indi-09: rgba(75, 78, 109, 0.9);
	--indi-08: rgba(75, 78, 109, 0.8);
	--indi-07: rgba(75, 78, 109, 0.7);
	--indi-06: rgba(75, 78, 109, 0.6);
	--indi-05: rgba(75, 78, 109, 0.5);
	--indi-04: rgba(75, 78, 109, 0.4);
	--indi-03: rgba(75, 78, 109, 0.3);
	--indi-02: rgba(75, 78, 109, 0.2);
	--indi-01: rgba(75, 78, 109, 0.1);

	--nav-color-1:  rgba(197, 34, 51, 1);
	--nav-color-2: rgba(249, 231, 132, 1);
	--nav-color-3:  rgba(68, 207, 108, 0.89);
	--nav-color-4:  rgba(39, 93, 173, 1);
}
