@font-face
{
	font-family: 'Calibri Light';
	font-style: normal;
	font-weight: normal;
	src: url('./fonts/calibril.woff') format('woff'), local('Calibri Light');
}

@font-face
{
	font-family: 'Hit the Road Regular';
	font-style: normal;
	font-weight: normal;
	src: local('Hit The Road Regular'), url('./fonts/HITROAD.woff') format('woff');
}

@font-face
{
	font-family: 'Abite';
	font-style: normal;
	font-weight: normal;
	src: local('Abite'), url('./fonts/ABITE.woff') format('woff');
}
