/* DEFAULT CSS STYLES AS DEFAULTS */
*
{
	box-sizing:border-box;
	vertical-align:top;
	margin: 0px;
	padding: 0px;
}
html, body
{
	width:100%;
	height:100%;
	min-width:320px;
    box-sizing: border-box;
}
body
{
	background-color: var(--default-white);
	color: var(--default-black);
	font-family: 'Josefina', 'Segoe UI', sans-serif, -system-ui;
	font-weight:normal;
	font-size: 100%;
	letter-spacing:normal;
	overflow:auto;
	vertical-align:top;
}

:focus {
	outline: dotted 1px var(--focus-lapis);
}
::placeholder
{
	font-style:italic;
	font-size:16px;
	color: rgba(128,128,128,1);
	font-family: 'Calibri Light';
}