/*	RESPONSIVE MEDIA QUERY CLASSES AND SELECTORS */
@media (max-width: 600px)
{
	.bd-menu-item
	{
		margin-bottom:14px;
	}
	.canvas-menu
	{
		border: solid 0px var(--black-01);
		flex-direction:column;
		justify-content:flex-start;
	}
	.nav-top-level
	{
		flex-direction:column;
		align-items:unset;
	}
}

@media (max-width: 900px)
{
	.resume
	{
/*		border: solid 1px red;*/
		flex-direction:column;
		flex-wrap:nowrap;
	}
	.resume-left
	{
		padding-right:0px;
	}
	.skills-related-links
	{
		flex-direction:row;
		flex-wrap:wrap;
	}
	a.skills-related-link
	{
		padding-right:20px;
	}
	a.skills-related-link > span
	{
		padding-top:6px;
	}
	a.skills-related-link:first-child
	{
		 margin-bottom:0px;
		 margin-right:6px;
	}
}