/*
	RESPONSIVE MEDIA QUERY CLASSES AND SELECTORS
*/

@media (max-width: 400px)
{
	nav
	{
		flex-direction:column;
	}
}


@media (max-width: 680px)
{
	.home-layout-head
	{
		flex-direction:column;
	}
	.home-layout-left
	{
		flex: 1 1 auto;
		padding-bottom:20px;
	}
	.home-layout-right
	{
		flex: 1 1 auto;
	}

	.pf-block-overlay
	{
	/*	border: solid 1px var(--black-01);*/
		background-color: var(--black-07);
		color: var(--white);
	}

}