/*	RESPONSIVE MEDIA QUERY CLASSES AND SELECTORS */
@media (max-width: 600px)
{
	nav
	{
		flex-direction:column;
	}
	.bd-menu-item
	{
		margin-bottom:14px;
	}
	.canvas-menu
	{
		border: solid 0px var(--black-01);
		flex-direction:column;
		justify-content:flex-start;
	}
}

@media (max-width: 680px)
{
	.home-layout-head
	{
		flex-direction:column;
	}
	.home-layout-left
	{
		flex: 1 1 auto;
		padding-bottom:20px;
	}
	.home-layout-right
	{
		flex: 1 1 auto;
	}

	.pf-block-overlay
	{
		background-color: var(--black-07);
		color: var(--white);
	}

	.design-panel
	{
		padding-left:20px;
		padding-right:20px;
	}
	.portfolio-panel
	{
		padding-left:20px;
		padding-right:20px;
	}
	.portfolio-block
	{
		padding-left:6px;
		padding-right:6px;
	}

}