.cp-main-panel
{
/*	border: solid 4px var(--debug);*/	
	position:fixed;
	background-color: var(--white);
	border: solid 0px transparent;
	flex-direction:column;
	z-index:1000;
	animation-play-state:paused;
	animation-fill-mode:forwards;
	animation-direction:normal;
	animation-timing-function:linear;
	animation-iteration-count:1;
	animation-delay: 0ms;
}

.cp-right
{
	top:0px;
	left:100%;
	right:-480px;
	bottom:0px;
	display:none;
}
.cp-right-open
{
	top:0px;
	left:auto;
	right:-480px;
	bottom:0px;
	width:480px;
	display:flex;
	border-left:solid 1px var(--black-03);
	box-shadow: 0px 0px 0px 0px transparent;

	animation-name: CP_RightOpen;
	animation-play-state:running;
	animation-duration: 200ms;
}
.cp-right-closed
{
	top:0px;
	left:calc(100% - 480px);
	right:0px;
	width:480px;
	bottom:0px;
	border-left:solid 1px var(--black-03);
	box-shadow: 0px 0px 50px 0px var(--black-03);

	animation-name: CP_RightClosed;
	animation-play-state:running;
	animation-duration: 100ms;
}

.cp-left
{
	top:0px;
	left:0px;
	right:auto;
	bottom:0px;
	display:none;
}
.cp-left-open
{
	top:0px;
	left:-480px;
	right:auto;
	width:480px;
	bottom:0px;
	display:flex;
	border-right:solid 1px var(--black-03);
	box-shadow: 0px 0px 0px 0px transparent;

	animation-name: CP_LeftOpen;
	animation-play-state:running;
	animation-duration: 200ms;
}
.cp-left-closed
{
	top:0px;
	left:0px;
	right:0px;
	width:480px;
	bottom:0px;
	border-right:solid 1px var(--black-03);
	box-shadow: 20px 0px 50px 0px var(--black-03);

	animation-name: CP_LeftClosed;
	animation-play-state:running;
	animation-duration: 100ms;
}

.cp-top
{
	top:-320px;
	left:0px;
	right:0px;
	bottom:calc(100% - 320px);
	display:none;
}
.cp-top-open
{
	top:-320px;
	left:0px;
	right:0px;
	bottom:auto;
	width:100%;
	height:auto;
	max-height:320px;
	display:flex;
	border-bottom:solid 1px var(--black-03);
	box-shadow: 0px 0px 0px 0px transparent;

	animation-name: CP_TopOpen;
	animation-play-state:running;
	animation-duration: 200ms;
}
.cp-top-closed
{
	top:0px;
	left:0px;
	right:0px;
	bottom:auto;
	width:100%;
	height:auto;
	max-height:320px;
	display:flex;
	border-bottom:solid 1px var(--black-03);
	box-shadow: 0px 20px 50px 0px var(--black-03);

	animation-name: CP_TopClosed;
	animation-play-state:running;
	animation-duration: 100ms;
}

.cp-bottom
{
	top:auto;
	left:0px;
	right:0px;
	bottom: -320px;
	display:none;
}
.cp-bottom-open
{
	top:auto;
	left:0px;
	right:0px;
	bottom:-320px;
	width:100%;
	height:auto;
	max-height:320px;
	display:flex;
	border-top:solid 1px var(--black-03);
	box-shadow: 0px 0px 0px 0px var(--black-03);

	animation-name: CP_BottomOpen;
	animation-play-state:running;
	animation-duration: 200ms;
}
.cp-bottom-closed
{
	top:auto;
	left:0px;
	right:0px;
	bottom:0px;
	width:100%;
	height:auto;
	max-height:320px;
	display:flex;
	box-shadow: 0px -20px 50px 0px var(--black-03);

	animation-name: CP_BottomClosed;
	animation-play-state:running;
	animation-duration: 100ms;
}

/* context panel children */
.cp-header
{
/*	border: solid 1px red;*/
	background-color:var(--white);
	display:flex;
	flex: 1 1 auto;
	flex-direction:row;
}
.cp-header-title
{
	flex : 1 1 auto;
	font-size:18px;
	font-weight:900;
	padding-top:10px;
	padding-left:20px;
	padding-right:6px;
	padding-bottom:10px;

}
.cp-header-close-btn
{
	flex : 0 0 24px;
	height:24px;
	width:24px;
	cursor:pointer;
	text-align:center;
	padding:2px;
	margin-top:10px;
	margin-right:6px;
	transition:all 150ms linear;
}
.cp-header-close-btn > svg > circle
{
	fill: rgba(39, 93, 173, 0.3);
}
.cp-header-close-btn:hover, .cp-header-close-btn:focus
{
/*	outline: solid 1px var(--black-04);*/
	transform: rotate(90deg);
}

.cp-header-close-btn:hover > svg > circle,
.cp-header-close-btn:focus	 > svg > circle
{
	fill: rgba(40, 100, 180, 1);
}

.cp-body
{
	background-color:var(--white);
	background-image: linear-gradient(180deg, var(--black-01) 0px, transparent 10px);
	flex: 1 1 100%;
	min-height:100px;
	padding:20px;
	overflow:auto;
}
.cp-body > div
{
/*	border: solid 1px var(--black-01);*/
	font-size:14px;
	text-align:left;
}

/* test content */
.cp-doi
{
/*	border: solid 1px red;*/
}
.cp-doi > h1
{
	font-size: 24px;
	margin-bottom: 10px;
}
.cp-doi > p
{
	font-size: 16px;
	margin-bottom:10px;
}
p.cp-doi-larger
{
	font-size: 20px;
	border-bottom: solid 1px var(--black-01);
	padding-bottom:10px;
	border-top: solid 1px var(--black-01);
	padding-top:10px;
}
div.doi-sig-panel
{
	border-top: solid 1px var(--black-02);
	display:flex;
	margin-top:10px;
	padding-top:10px;
}
div.doi-sig-panel > div
{
	flex: 1 1 25%;
}

/* animations & responsive */
@keyframes CP_RightOpen
{
	0%
	{
		box-shadow: 0px 0px 0px 0px transparent;
		left:auto;
		right:-480px;
	}
	100%
	{
		box-shadow: 0px 0px 50px 0px var(--black);
		left:auto;
		right:0px;
	}
}
@keyframes CP_RightClosed
{
	0%
	{
		box-shadow: 0px 0px 50px 0px var(--black-03);
		left:calc(100% - 480px);
		right:0px;
	}
	100%
	{
		box-shadow: 0px 0px 0px 0px transparent;
		left:100%;
		right:-480px;
	}
}

@keyframes CP_LeftOpen
{
	0%
	{
	box-shadow: 0px 0px 0px 0px transparent;
		left:-480px;
	}
	100%
	{
		box-shadow: 20px 0px 50px 0px var(--black-03);
		left:0px;
	}
}
@keyframes CP_LeftClosed
{
	0%
	{
		box-shadow: 20px 0px 100px 0px var(--black-03);
		left:0px;
	}
	100%
	{
		box-shadow: 0px 0px 0px 0px transparent;
		left:-480px;
	}
}

@keyframes CP_TopOpen
{
	0%
	{
		box-shadow: 0px 0px 0px 0px transparent;
		top:-320px;
	}
	100%
	{
		box-shadow: 0px 20px 50px 0px var(--black-03);
		top:0px;
	}
}
@keyframes CP_TopClosed
{
	0%
	{
		box-shadow: 0px 20px 50px 0px var(--black-03);
		top:0px;
	}
	100%
	{
		box-shadow: 0px 0px 0px 0px transparent;
		top:-320px;
	}
}

@keyframes CP_BottomOpen
{
	0%
	{
		box-shadow: 0px 0px 0px 0px var(--black-03);
		bottom:-320px;
	}
	100%
	{
		box-shadow: 0px -20px 50px 0px var(--black-03);
		bottom:0px;
	}
}
@keyframes CP_BottomClosed
{
	0%
	{
		box-shadow: 0px -20px 50px 0px var(--black-03);
		bottom:0px;
	}
	100%
	{
		box-shadow: 0px 0px 0px 0px var(--black-03);
		bottom:-320px;
	}
}

@media (max-width: 480px)
{
	.cp-right-open
	{
		width:100%;
	}
	.cp-left-open
	{
		width:100%;
	}
	.cp-right-open
	{
		width:100%;
	}
	.cp-top-open
	{
		max-height:50%;
	}
	.cp-bottom-open
	{
		max-height:50%;
	}
}