.hc-main-panel
{
/*	border: solid 1px var(--debug);*/
	position:absolute;
	height:auto;
	width:300px;
	vertical-align:top;
	justify-content:center;
	flex-direction:column;
	display: none;
	flex: 1 1 auto;
	z-index:100;

	--shadow-top: 0px -6px 20px 6px var(--black-02);
	--shadow-left: -6px 0px 20px 6px var(--black-02);
	--shadow-right: 6px 0px 20px 6px var(--black-02);
	--shadow-bottom: 0px 6px 20px 6px var(--black-02);
}

.hc-displayed
{
/*	left:10%;*/
	display:flex;
	opacity:0;

	animation-name: HoverCard_Display;
	animation-fill-mode:forwards;
	animation-direction:normal;
	animation-play-state:running;
	animation-timing-function:linear;
	animation-iteration-count:1;
	animation-delay: 0ms;
	animation-duration: 200ms;
}
.hc-hidden
{
/*	left:10%;*/
	display: flex;
	opacity:1;

	animation-name: HoverCard_Hide;
	animation-fill-mode:forwards;
	animation-direction:normal;
	animation-play-state:running;
	animation-timing-function:linear;
	animation-iteration-count:1;
	animation-delay: 0ms;
	animation-duration: 200ms;
}

/* direction arrow placement */
.hc-placement-chevron
{
/*	border: solid 1px red;*/
	background-color:transparent;	
	width:auto;
	height: 12px;
	padding:0px;
	text-align:center;
	display:flex;
	justify-content:center;
	z-index:102;
}
.hc-pointer
{
/*	border: solid 1px red;*/
/*	background-color: var(--black-04);*/
	flex:0 0 auto;
	background-color:transparent;	
	height:12px;
	width:24px;

}
.hc-pointer > svg {
/*	border: solid 1px var(--debug);*/
}

/* content */
.hc-content-panel
{
/*	border: solid 1px var(--black-01);*/
	border-radius: 4px;
	background-color: var(--white);
	min-height:32px;
	min-width: 150px;
	font-size: 14px;
	text-align:left;
	z-index:101;
}

.hc-header
{
/*	border: solid 1px var(--debug);*/
/*	border-bottom: solid 1px var(--black-01);*/
	display:flex;
	flex-direction:row;
}
.hc-header-title
{
/*	border: solid 1px var(--debug);*/
	flex: 1 1 100%;
	font-weight:bolder;
	padding:6px;
	padding-left:10px;
	padding-right:10px;
/*	max-width:470px;*/
	max-height:100px; 	
	text-overflow:ellipsis;
	white-space:nowrap; 
	overflow:hidden;
}

.hc-close-button
{
/*	border: solid 1px var(--debug);*/
	flex: 0 0 30px;
	width:30px;
	height:30px;
	cursor:pointer;
	text-align:center;
	padding:6px;
}
.hc-close-button > svg
{
	padding:0;
	margin:0;
	height:100%;
	width:100%;
	fill:  rgba(64,64,64,0.2);
	transition: all 200ms ease-in-out;
}
.hc-close-button > svg:hover
{
	fill:  rgba(64,64,64,1);
	transform:rotate(-90deg);
}

.hc-children-panel
{
/*	border: solid 1px var(--debug);*/
/*	border-top: solid 1px var(--black-01);*/
	padding:20px;
	max-width:500px;
	max-height:300px;
	text-overflow:ellipsis;
	white-space:normal; 
	overflow:auto;
	order:1;
}


/* direction layout */
.hc-place-top
{
	flex-direction:column;
}
.hc-place-top .hc-placement-chevron
{
/*	border: solid 1px blue;	*/
	order:1;
}
.hc-place-top .hc-placement-chevron .hc-pointer > svg 
{
	transform:rotate(180deg);
}
.hc-place-top .hc-content-panel
{
	order:0;
	box-shadow: var(--shadow-top);
}

.hc-place-bottom
{
	flex-direction:column;
	z-index:103;
}
.hc-place-bottom .hc-placement-chevron
{
	order:0;
}
.hc-place-bottom .hc-placement-chevron .hc-pointer > svg 
{
	transform:rotate(0deg);
}
.hc-place-bottom .hc-content-panel
{
	order:1;
	box-shadow: var(--shadow-bottom);
}


.hc-place-left
{
/*	border: solid 1px green;*/
	flex-direction:row;
}
.hc-place-left .hc-placement-chevron
{
	order:1;
	width:12px;
	padding-top:10px;
}
.hc-place-left .hc-placement-chevron .hc-pointer > svg 
{
	transform:rotate(90deg);
}
.hc-place-left .hc-content-panel
{
	order:0;
	box-shadow: var(--shadow-left);
}

.hc-place-right
{
	flex-direction:row;
}
.hc-place-right .hc-placement-chevron
{
	order:0;
	width:12px;
	padding-top:10px;
}
.hc-place-right .hc-placement-chevron .hc-pointer > svg
{
	transform:rotate(270deg);
}
.hc-place-right .hc-content-panel
{
	order:1;
	box-shadow: var(--shadow-right);
}


@keyframes HoverCard_Display
{
	0%
	{
		opacity: 0;
	}
	100%
	{
		opacity: 1;
	}
}
@keyframes HoverCard_Hide
{
	0%
	{
		opacity: 1;
	}
	100%
	{
		opacity: 0;
		visibility:hidden;
	}
}