.hc-main-panel
{
/*	border: solid 1px var(--debug);*/
	position:absolute;
	left:10%;
	height:auto;
	width:auto;
	vertical-align:top;
	justify-content:center;
	display: none;
	flex-direction:column;

/*	animation-name: HoverCard_Hide;
	animation-fill-mode:forwards;
	animation-direction:normal;
	animation-play-state:paused;
	animation-timing-function:linear;
	animation-iteration-count:1;
	animation-delay: 300ms;
	animation-duration: 300ms;*/
}

.hc-displayed
{
	display:flex;
	opacity:0;
	height:auto;

/*	transform: scale(0.8,0.8) translate(0,-10px);*/
	animation-name: HoverCard_Display;
	animation-fill-mode:forwards;
	animation-direction:normal;
	animation-play-state:running;
	animation-timing-function:linear;
	animation-iteration-count:1;
	animation-delay: 0ms;
	animation-duration: 200ms;
}

/* direction arrow placement */
.hc-placement-chevron
{
	border: solid 1px var(--black-02);
	height: 16px;
}
.hc-pointer
{
	height:100%;
	width:100%;
}

/* content */
.hc-content-panel
{
	border: solid 1px var(--black-04);
	border-radius: 4px;
	background-color: var(--white);
	box-shadow: 0px 0px 40px 0px var(--black-04);
	min-height:32px;
	min-width: 150px;
	font-size: 14px;
	text-align:left;
}

.hc-header
{
/*	border: solid 1px var(--debug);*/
	border-bottom: solid 1px var(--black-01);
	display:flex;
	flex-direction:row;
}
.hc-header-title
{
	flex: 1 1 auto;
	font-weight:bolder;
	padding:6px;
	padding-left:10px;
	padding-right:10px;
	max-width:470px;
	max-height:62px;
	text-overflow:ellipsis;
	white-space:nowrap; 
	overflow:hidden;
}

.hc-close-button
{
/*	border: solid 1px var(--debug);*/
	flex: 1 1 auto;
	width:30px;
	height:30px;
	cursor:pointer;
	text-align:center;
	padding:5px;
}
.hc-close-button > svg
{
	padding:0;
	margin:0;
	height:100%;
	width:100%;
	fill:  rgba(64,128,192,0.2);
	transition: all 200ms ease-in-out;
}
.hc-close-button > svg:hover
{
	fill:  rgba(64,128,192,1);
	transform:rotate(-90deg);
}

.hc-children-panel
{
/*	border: solid 1px var(--debug);*/
	border-top: solid 1px var(--black-01);
	padding:20px;
	max-width:500px;
	max-height:300px;
	text-overflow:ellipsis;
	white-space:normal; 
	overflow:auto;
}


@keyframes HoverCard_Display
{
	0%
	{
		opacity: 0;
	}
	100%
	{
		opacity: 1;
	}
}
@keyframes HoverCard_Hide
{
	0%
	{
		opacity: 1;
	}
	100%
	{
		opacity: 0;
	}
}