.modal-full-panel
{
	position:fixed;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	background-color:var(--black-08);
	display:flex;
	justify-content:center;
	align-content:center;
	overflow:hidden;
	z-index:1000;

	opacity:0;

	animation-name: AniPageFadeIn1;
	animation-fill-mode:forwards;
	animation-direction:normal;
	animation-play-state:running;
	animation-timing-function:linear;
	animation-iteration-count:1;
	animation-delay: 0ms;
	animation-duration: 300ms;
}
.model-inner-panel
{
	border: solid 2px transparent;
	border-radius:6px;
	background-color:var(--white);
	box-shadow: 0px 0px 20px 0px var(--black);
	margin:50px;
	display:flex;
	flex: 1 1 100%;
	flex-direction:column;
	overflow:auto;
	justify-content:center;
/*	align-content:center;*/
	align-items:center;
}

.modal-test-image
{
	box-shadow: 0px 0px 20px 0px var(--black-07);
	border-radius:10px;
}
.modal-test-image > img
{
	border-radius:10px;
	height:100%;
	width: 100%;
}
.modal-controls-panel
{
	margin-top:20px;
	padding:10px;
}