/* tele svg */
.cls-1, .cls-2, .cls-3, .cls-4, .cls-5, .cls-6
{
fill: none;
}

.cls-1
{
stroke: var(--black-01);
stroke-width: 1px;
}

.cls-1, .cls-3, .cls-4, .cls-5, .cls-6
{
stroke-miterlimit: 3.86;
}

.cls-2, .cls-3
{
stroke: #ff0000;
}

.cls-2
{
stroke-linecap: round;
stroke-linejoin: round;
}

.cls-2, .cls-3, .cls-4, .cls-5, .cls-6
{
stroke-width: 0.25px;
}

.cls-4, .cls-5
{
stroke: #231f20;
}

.cls-5
{
stroke-dasharray: 8 4;
}

.cls-6
{
stroke: red;
}

/* abstract */
.st0{fill:url(#SVGID_1_);}
.st1{fill:#FFEED9;}
.st2{fill:#F3796F;}
.st3{fill:#22183F;}
.st4{fill:#00A8B3;}
.st5{fill:url(#SVGID_2_);}
.st6{fill:url(#SVGID_3_);}
.st7{fill:url(#SVGID_4_);}
.st8{fill:url(#SVGID_5_);}
.st9{fill:url(#SVGID_6_);}
.st10{fill:url(#SVGID_7_);}
.st11{fill:url(#SVGID_8_);}
.st12{fill:url(#SVGID_9_);}