.big-data-demo-layout
{
	border: solid 0px var(--black);
	max-width:1024px;
	min-height:480px;
	overflow:auto;
	display:flex;
	flex: 1 1 auto;
	flex-direction:column;
	margin:24px;

	opacity:0;
	animation-name: AniPageFadeIn1;
	animation-delay: 300ms;
	animation-direction: normal;
	animation-duration: 300ms;
	animation-fill-mode: forwards;
	animation-iteration-count: 1;
	animation-play-state: running;
	animation-timing-function: ease-in-out;
	transition: all 500ms ease-in-out;
}
.bd-page-title
{
	font-size:20px;
	text-align:center;
	padding:10px;
}
.bd-page-trademark
{
	font-size:13px;
	text-align:center;
	margin-bottom:10px;
}
.bd-menu
{
/*	border: solid 1px red;*/
	display:flex;
	flex: 1 1 auto;
	min-height:32px;
	text-align:center;
	justify-content:center;
	align-items:center;
	margin-bottom:10px;
}
.bd-menu-item
{
	border: solid 1px var(--black-06);
	background-color: var(--black-01);
	color:var(--black);
	padding:4px;
	padding-left:10px;
	padding-right:10px;
	cursor:pointer;
	transition:all 160ms ease-in-out;
}
.bd-menu-item:hover
{
	border: solid 1px var(--black);
	background-color: var(--black-06);
	color:var(--white);
}

/* SVG STYLES */
svg.bg-svg-container
{
	border: solid 1px var(--black-02);
	cursor:grab;
}
rect#debugRect
{
	fill:rgba(0, 128, 255, 0.1);
	z-index:0;
/*	cursor: not-allowed;*/
}
g#SvgChildDraggable1 > svg
{
	z-index:1;
	cursor:grabbing;
	transition:all 150ms ease-in-out;
}