:root
{
	--debug-linear-gradient:  linear-gradient(90deg, rgba(0,0,0,0.5) 0, rgba(255,255,255,0.5) 100%);

	--bg-lg:linear-gradient(-45deg, 
	rgba(0, 128, 190, 0.6) 0,
	rgba(160, 0, 160, 0.6) 100%);


	--bg-lg-01:linear-gradient(0deg, 
	rgba(255, 106, 0, 1) 0,
	rgba(255, 216, 0, 1) 100%);

	--bg-lg-02:linear-gradient(0deg, 
	rgba(203, 10, 10, 1) 0,
	rgba(255, 148, 0, 1) 100%);

	--bg-lg-03:linear-gradient(0deg, 
	rgba(0, 168, 3, 1) 0,
	rgba(255, 216, 0, 1) 100%);

	--bg-lg-04:linear-gradient(0deg, 
	rgb(15, 0, 207) 0,
	rgba(67, 229, 251, 1) 100%);

	--bg-lg-05:linear-gradient(0deg, 
	rgb(180, 0, 0) 0,
	rgba(217, 0, 153, 1) 100%);

	--bg-lg-EVH:linear-gradient(0deg, 
	rgba(255, 0, 0, 1) 0,
	rgba(255, 255,255, 1) 50%,
	rgba(0, 0, 0, 1) 100%);

}

.svg-art-main-panel
{
/*	border: solid 1px var(--black-01);*/
}

.svg-art-block-panel
{
	position:relative;
	border: solid 0px var(--black-01);
	background-color:var(--black-01);
	background-image:var(--bg-lg);
	margin-bottom:10px;
	overflow:hidden;
	height:1024px;
}
.svg-art-block-panel:last-child
{
	margin-bottom:0px;
}


.bubbles
{
	position:absolute;
	background-color: var(--black-01);
	border: solid 0px var(--black-01);
	box-shadow: 0px 0px 10px 0px var(--black-04);
	transform:rotate(45deg) scale(1,1) translate(0px,0px);

	animation-delay:0ms;
	animation-direction:normal;
	animation-fill-mode:both;
	animation-iteration-count:infinite;
	animation-play-state:paused;
	animation-timing-function:ease-in-out;
}
.bubbles-running
{
	animation-play-state:running;
}
@keyframes AniRotate45
{
	0%, 100%
	{
		transform: rotate(45deg);
	}
	50%
	{
		transform: rotate(-45deg);
	}
}
@keyframes AniScale2
{
	0%, 100%
	{
		transform: rotate(45deg) scale(1,1) translate(0px,0px);
	}
	50%
	{
		transform: rotate(45deg) scale(3,0.4) translate(0px,-512px);	
	}
}
