nav
{
/*  border: solid 3px red;*/
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
 }
.level-one
{
  font-size: 120%;
}
.level-two
{
  font-size: 85%;
}

a.nav, a.nav:active, a.nav:link
{
  flex: 0 1 auto;
  border-bottom: solid 1px var(--black-01);
  background-color: transparent;
  color: var(--black);
  text-align: center;
  text-decoration: none;
  padding: 8px;
  padding-left: 14px;
  padding-right: 14px;
  vertical-align: top;
  transition: all 250ms ease-in-out;
}

a.nav:hover,
a.nav.nav-selected:hover
{
  background-color: var(--nav-color-4-hover);
  color:var(--white);
  text-decoration: underline;
}

a.nav.nav-selected
{
  flex: 2 1 auto;
  border-bottom: solid 1px transparent;
  background-color: var(--nav-color-4);
  color: var(--white);
}

.level-two > a.nav
{
  flex: 0 1 auto;
  border-bottom: solid 1px transparent;
}

.level-two > a.nav.nav-selected
{
   flex: 2 1 auto;
}

/* portfolio page nav only */
.portfolio-nav
{
  border: solid 1px blue;
  padding:10px;
  display:flex;
  flex-wrap:wrap;
  justify-content:space-around;
}
.portfolio-nav-item-panel
{
  border: solid 1px green;
  margin:10px;
}
.portfolio-nav-item-icon
{
  border: solid 1px red;
  flex: 1 0 250px;
  height:250px;
  display:flex;
}
.portfolio-nav-item-text
{
  border: solid 1px red;
  flex: 1 0 250px;
  height:250px;
}
