/* NAVIGATION CSSS */
nav
{
	display:flex;
	flex-direction:row;
	flex: 1 1 auto;
	flex-wrap:wrap;
}

a.nav, a.nav:active, a.nav:link
{
	flex: 0 0 auto;
	background-color:transparent;
	color: var(--black);
	font-weight:500;
	font-size:larger;
	text-align:center;
	text-decoration: none;
	padding:10px;
	padding-left: 20px;
	padding-right:20px;
	vertical-align:top;
	transition: all 300ms ease-in-out;
}
a.nav.nav-selected
{
	flex: 1 1 auto;
}

a.nav:nth-child(1).nav-selected, a.nav:nth-child(1):hover
{
	background-color:var(--nav-color-4);
	color:var(--white);
}
a.nav:nth-child(2).nav-selected, a.nav:nth-child(2):hover
{
	background-color:var(--nav-color-1);
	color:var(--white);
}
a.nav:nth-child(3).nav-selected, a.nav:nth-child(3):hover
{
	background-color:var(--nav-color-3);
	color:var(--white);
}
a.nav:nth-child(4).nav-selected, a.nav:nth-child(4):hover
{
	background-color:var(--nav-color-2);
	color:var(--black);
}

a.nav.nav-selected, a.nav:hover
{
	background-color:var(--nav-color-random);
	color:var(--white);
}