@font-face
{ 
	font-family: 'SegoeUIWeb'; 
	src: 
		url('SegoeUI-Roman-VF.woff2') format('woff'), 
		url('SegoeUI-Roman-VF.woff') format('woff'), 
		url('SeogeUI-Roman-VF.ttf') format('truetype'),
		local('Segoe UI') format('truetype');
}

.sw-light
{
	font-family: 'SegoeUIWeb';
	font-weight: 300;
}
.sw-semi-light
{
	font-family: 'SegoeUIWeb';
	font-weight: 400;
}
.sw-regular
{
	font-family: 'SegoeUIWeb';
	font-weight: 500;
}
.sw-semi-bold
{
	font-family: 'SegoeUIWeb';
	font-weight: 700;
}
.sw-bold
{
	font-family: 'SegoeUIWeb';
	font-weight: 900;
}

