.test-layout
{
	border: solid 1px var(--black-01);
	min-width:320px;
	max-width:1024px;
	min-height:100%;
	overflow:auto;
	display:flex;
	flex: 1 1 auto;
	flex-direction:row;
	margin-top:24px;
	overflow:auto;
	height:1024px;
	width:1280px;
	background-position:top center;
	background-repeat:no-repeat;
}

.test-layout > svg
{
/*	border: solid 1px red;*/
	height:100%;
	width:100%;
}