.guitar-app-main-panel
{
/*	border: solid 1px red;*/
	display:flex;
	flex-direction:column;
	font-family: 'Segoe UI', system-ui;
}

.gapp-title-bar
{
/*	border: solid 1px red;*/
	display:flex;
	flex: 1 1 auto;
}
.gapp-title-bar-header
{
/*	border: solid 1px red;*/
	flex: 1 1 auto;
	min-width:280px;
	font-weight:500;
	font-size:20px;
}
.gapp-title-bar-settings
{
/*	border: solid 1px red;*/
	flex: 0 0 32px;
	padding:4px;
	cursor:pointer;
}
.gapp-title-bar-settings > svg
{
	fill: var(--default-black-03);
	transition: fill 200ms ease-in-out;
}
.gapp-title-bar-settings:hover > svg
{
	fill: rgba(39, 93, 173, 1);
}

.gapp-settings-panel
{
	border: solid 1px var(--default-black-01);
	box-shadow: 0px 6px 10px 0px var(--default-black-03);
	background-color:var(--default-white);
	padding:20px;
}
.gapp-settings-panel-row
{
/*	border: solid 1px var(--default-black-02);*/
	margin-bottom:14px;
}
.gapp-settings-panel-row:last-child
{
	margin-bottom:0px;
}


.gapp-selected-settings-row
{
	border: solid 1px var(--default-black-01);
	box-shadow: 0px 0px 20px 0px var(--default-black-01);
	padding:10px;
	font-size:16px;
	margin-top:10px;
	margin-bottom:10px;
	display:flex;
	flex-direction:row;
}
.gapp-selected-settings-row > div
{
	flex: 1 1 auto;
	text-align:center;
/*	border: solid 1px red;*/
}
.gapp-selected-settings-row > div:nth-child(1)
{
/*	border: solid 1px blue;
*/	text-align:left;
}
.gapp-selected-settings-row > div:nth-child(4)
{
	text-align:right;
}

.gapp-feature-btn
{
	margin-right:10px;
	border-radius:0px;
}
.gapp-feature-btn-selected
{
	background-color: rgba(39, 93, 173, 1);
	color: var(--default-white);
}
button.gapp-feature-btn:hover
{
	background-color: rgba(72, 124, 208, 1);
	color: var(--default-white);
}

.gapp-debug-span
{
/*	border: solid 1px red;*/
	display:inline-block;
	padding:8px;
	color: var(--debug-color);
	font-weight:500;
}

.gapp-info-key
{
/*	border: solid 1px red;*/
	display:inline-block;
	padding:8px;
	padding-right:4px;
	color: var(--default-black);
	font-weight:100;
}
.gapp-info-value
{
/*	border: solid 1px red;*/
	display:inline-block;
	padding:8px;
	padding-left:0px;
	color: var(--default-black);
	font-weight:500;
}


.gapp-info-select
{
	padding:9px;
	margin-right:10px;
	color: var(--default-black);
	font-weight:500;
}
.gapp-info-select:nth-child(2)
{
	margin-right:30px;
}

/* SVG panels */
.fretboard-panel
{
/*	border: solid 1px red;*/
	margin-bottom:10px;
}
.chords-panel
{
/*	border: solid 1px blue;*/
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:center;
}
.chord-panel
{
/*	border: solid 1px red;*/
	flex: 0 0 auto;
	margin-right:20px;
	margin-bottom:20px;
	vertical-align:top;
	max-width:300px;
	min-width:280px;
}
